[2015-04-08 09:36] rsignell-usgs opened #1 "Add a bit of doc on motivation for this package"
It would be great to have a bit of info on the Readme.md about the motivation for this package, and perhaps what the perceived advantages and disadvantages are (or could be) relative to other netcdf packages.

[2015-04-08 17:33] shoyer commented on #1
This is a good idea :).

Some motivations (which I'll elaborate on in the README):

- To prove it could be done (it seemed like an obvious thing to do) and that it's not actually that hard.
- We've also seen occasional reports of better performance with h5py than netCDF4-python that I wanted to be able to verify.
- h5py seems to have thought through multi-threading pretty carefully, so this in par

[2015-04-09 16:58] rsignell-usgs commented on #1
@shoyer, thanks for providing this!   I have a much better idea of what's going on here now.   I must agree that the HDF5 users seem to show resistance to using the NetCDF4 interface, even when they are not using any HDF5 functionality outside the NetCDF4 functionality.  So if this gets folks to write more NetCDF4-readable files, fantastic!

[2015-04-17 14:16] mangecoeur opened #2 "include pep8-compliant API alternative"
It seems to me that if you are making an alternative to the existing netcdf packages, it's a good opportunity to have an API that follows Python naming conventions as defined in pep8, principally with names separated by underscore rather than camelCase.

Also recommend make sure your Docs are uploaded to readthedocs.

[2015-04-17 17:07] shoyer commented on #2
Yes, I was pretty conflicted about the naming conventions to use. It pains me not to follow PEP8, but I also wanted to try to avoid forcing people to learn another approach.

It might make sense to have two different APIs:

- a cleaner PEP 8 compatible API accessible via `import h5netcdf`
- a legacy compatible API which is almost a drop-in replacement for netCDF4-python, importable like `import h5

[2015-04-17 17:12] shoyer commented on #2
As for docs, yes I need to write those :).

[2015-04-17 22:42] shoyer opened #3 "add support for dimensions on sub-groups"

[2015-04-17 22:43] shoyer opened #4 "add support for unlimited dimensions"
We'll need to figure out how netCDF4 represents these in HDF5 files, first.

[2015-04-18 13:01] mangecoeur commented on #2
I think two apis would not be such a big issue (with a handful of unit tests of course ;) - the number of function in the api is relatively limited and you can add straight aliases like `underscore_fn_name = camelCaseFunctionName`. Though personally I would simply break with the existing library, unless you have a strong preference for a drop-in replacement. I feel that this would be an opportunit

[2015-04-18 13:06] mangecoeur opened #5 "suggestion - make it possible to use dimension objects instead of names"
in netcdf-python

[code]

suggest to make it possible to use the dimension object as an alternative to using the dimension name:

[code]

[2015-04-19 00:00] shoyer commented on #5
What's the use case for using dimension objects instead of names? I'm slightly reluctant to create a new type that without any additional functionality -- right now, we don't have a `Dimension` class at all.

[2015-04-19 08:14] #2 closed

[2015-04-19 08:26] shoyer commented on #2
Just pushed changes implementing this feature to master. I'm thinking now that the main h5netcdf module will be more closely patterned off of h5py, with only the minimal adaptations necessary to make it make sense for netCDF files. If you have ideas about what the main API should look like, I'm also open to suggestions :).

The main reason I originally decided to keep with the existing API is to f

[2015-04-19 09:20] mangecoeur commented on #5
The createDimension function appears to return something in netcdf, though since you can't use it for anything in bout sure what type it is. The main use case is for catching bugs though static analysis. If you can use the object returned by the function, you can check that the variable has been created before using it. If you use the dimension name its impossible to tell if you are trying to use

[2015-04-19 17:46] shoyer commented on #5
For that use case, I guess it would suffice for create_dimension to simply return the name of the new dimension? That change is easy enough to make.

The new API based more directly on h5py (which I haven't released yet) also makes creating dimensions first optional, if you supply an array at creation time via the `data` argument.

[2015-04-20 08:37] shoyer opened #6 "New API"
I've started to write a new API for h5netcdf as an alternative to `h5netcdf.legacyapi` which will continue to mirror netCDF4-python. The new API will follow PEP-8 standards and adhere much more closely to the design of h5py. The idea is to (1) explore alternative options for a low level netCDF API in Python and (2) make it more natural for h5py users. In general, h5py seems to have a better design

[2015-04-20 09:45] mangecoeur commented on #6
1. IMHO, use `dimensions`. It's much clearer ;)
2. keep `create_dimensions`. Best not to second-guess someone's use case, maybe someone wants to create a dimension without immediately adding a variable. Or someone wants to create a dimension that's re-used by several variables.

And an idea: Make it possible to dump the structure of file as a descriptive dict. Makes exploring an existing file easi

[2015-04-20 10:16] shoyer commented on #6
@mangecoeur To clarify, I was considering dropping `create_dimension` in favor of using `dimensions` with the dictionary-like interface for assignment.

[2015-04-20 10:17] mangecoeur commented on #6
@shoyer ah right, yeah that makes sense

[2015-04-20 20:17] #3 closed

[2015-04-21 00:28] #1 closed

[2015-04-21 00:46] shoyer opened #7 "add minimal h5py version to requirements"
At the very least, we'll need h5py 2.1 or newer (but we should test this).

[2015-04-21 03:32] shoyer commented on #6
I like the idea of declarative dataset specifications, but I'm not sure it's a good fit for this package. It could exist easily as an independent project that uses `h5netcdf` (and/or `netCDF4`/`scipy.io.netcdf`) as a library. In fact, I would encourage you to go out and build that project yourself :).

[2015-04-22 08:24] #7 closed

[2015-05-27 16:33] gamaanderson opened #8 "List of Functions"
Hello @shoyer

Let me congratulate you again for you work, I really think it's an important one and I hope you got the recognition.

That being said I would like to suggest that you add a list of the supported features, in especial for the legacyapi. NetCDF4 has lots of features and new ones are constantly added, so you can can not guaranty to support "most of the features of the netCDF interface"

[2015-05-31 00:23] shoyer commented on #8
Thanks -- I'll do my best to get that together.

As for `endian`, h5py does not appear to expose this feature, so it wasn't an option to include.

And as for mask and scale, I intentionally omitted -- this is the sort of feature that is better handled (in my opinion) in client libraries, because there are multiple options for how the unmasked/scaled data should be stored (e.g., using masked array

[2015-06-01 04:56] shoyer commented on #8
As a step toward this, I updated the readme with a list of functionality that I know we don't support.

[2015-06-19 01:29] jcrist opened #9 "Iteration over Variable errors"
[code]

Might be as simple as pointing the `__iter__` method at `Variable._h5ds.__iter__`, as this works fine:

[code]

[2015-09-17 13:52] mraspaud opened #10 "Can't create variable on type "str""
Hi,
It looks like I can't create variables of type 'str' with the legacy api (works with netCDF4 lib)

[code]

The error message in the end is
[code]
Is there a way to make this work ?

Thanks for the nice software !

[2015-09-18 06:35] mraspaud opened #12 "createVariable chokes on scalar datasets"
With the legacy API, the following crashes (while it works with netCDF4):

[code]

here is the traceback:
[code]

[2015-10-15 08:39] mraspaud commented on #12
fixed with #13

[2015-10-15 08:39] #12 closed

[2015-11-19 18:58] vanne02135 opened #14 "Attributes not readable with ncdump?"
The file written from example code is not readable by ncdump.

[code]

[code]

but without the attribute (mydata.nc), it displays just fine.

[code]

Is there a workaround for this?

[2015-11-19 19:46] shoyer commented on #14
Have you tried updating ncdump and/or the netCDF library? This works for me:
[code]

[2015-11-19 19:51] shoyer commented on #14
To set some context here, the issue is that by default h5netcdf will write attributes as variable length strings by default, because that's what h5py does. For maximum compatibility, you probably don't want to use variable length strings and may want to use `np.string_`. The h5py docs have some useful guidance here:
http://h5py.readthedocs.org/en/latest/strings.html#how-to-store-text-strings

[2015-11-19 19:59] vanne02135 commented on #14
I'm trying to read the files with Matlab. What version of netCDF do you use? Thanks for the np.string_ tip!

[2015-11-19 21:01] shoyer commented on #14
Looks like I'm using netcdf 4.3.3.1, installed via brew on OS X.

[2016-03-19 09:05] glenfletcher opened #15 "Feature Request: support endian argument to createVariable"
You mention in the readme "We don't support the endian argument to createVariable. The h5py API does not appear to offer this feature."

h5py dose support endianness buts its a component of the dtype i.e. `dtype='<f8'` is little, while `dtype='>f8'` is big, you can use the `newbyteorder` function on a numpy dype object to set it like so

[code]

[2016-03-20 17:49] shoyer commented on #15
Thanks for pointing this out. If anyone is interested in this feature, please make a pull request.

[2016-06-07 12:03] mangecoeur opened #16 "OSError: Unable to read attribute (No appropriate function for conversion path)"
I'm trying to open a netCDF4 file created by Xarray (made by opening a netCDF3 file and re-saving as netCDF4 using `.to_netcdf) and I get the error below.

[code]

[code]

By contrast, using h5py directly:

[code]

Works fine. This error carries through to xarray itself if I try to use the h5netcdf backend.

[2016-06-07 18:30] shoyer commented on #16
Huh, this is a curious one. Can you share a problematic files? Or the name and/or value of the problematic variable from using pdb? (e.g., `%debug` in Jupyter notebook)

Note that your h5py example is not entirely analogous because printing a variable in h5py does not load it's attributes. If `list(fd['TMP_L103'].attrs.items())` also does not raise then something very strange is going on.

[2016-06-08 10:17] mangecoeur commented on #16
Ah good point - `list(fd['TMP_L103'].attrs.items()` does return the same error with `h5py`.

The file in question is [this](https://dl.dropboxusercontent.com/u/6613592/test.nc) and the crash occurs reading:
[code]

[2016-06-09 01:55] shoyer commented on #16
Both `h5dump` and `ncdump` can read the attribute in question, so I can only presume that this is an h5py bug:
[code]

[2016-06-09 06:57] mangecoeur commented on #16
OK I will open the issue there thanks for looking at this
On 9 Jun 2016 2:55 a.m., "Stephan Hoyer" <notifications@github.com> wrote:

[2016-08-05 05:26] shoyer opened #18 "Write the _NCProperties property"
This was introduced in netcdf-c v4.4.1:
[code]

[2016-08-05 17:07] laliberte commented on #16
So, I've investigated this problem a bit and I found that reading `char` arrays is buggy within `h5py`. In pull request #17, I've added a check that verifies whether reading the `char` array works with pure `h5py` before attempting with `h5netcdf`. At the moment, `h5py` fails at this operation in both 3.4 and 3.5.
Maybe the exception could be caught at line 86 of `core.py` and raise a more verbose

[2016-08-07 06:28] #10 closed

[2016-08-07 08:18] #18 closed

[2016-08-07 08:22] shoyer commented on #16
This bug report in netCDF-C describes things more fully: https://github.com/Unidata/netcdf-c/issues/298

But if only h5py supported reading fixed length UTF-8, this would be much less painful.

[2016-08-07 11:57] laliberte opened #21 "Exception AttributeError: "'File' object has no attribute '_closed'" in <object repr() failed> ignore"
A `h5netcdf.File` object that failed to open in read-only mode is not properly garbage collected in python 2.7.

[code]

[2016-08-08 12:15] laliberte opened #23 "ValueError: Index (1) out of range (0-0)"
When slicing a length-1 dimension with a boolean, an unexpected ValueError is raised. This differs from the netCDF4 behaviour where such an operation is legal.

This is a test function that illustrates this behaviour:

[code]

[2016-08-08 12:41] laliberte commented on #23
Ok, I've checked and it seems to be an issue coming from `h5py`. When replacing `netCDF4` with `h5py`, the error is raised at the first read trial.

The test:
[code]

[2016-08-08 15:52] shoyer commented on #23
I think andrewcollette describes this pretty well in the linked issue:

We could certainly add `mask.nonzero()` transform in `h5netcdf.legacyapi` when passed 1D boolean indexers.

[2016-09-02 21:25] #21 closed

[2016-09-11 21:34] shoyer opened #25 "Support pyfive as an alternative backend"
This will require support for dimension scales (https://github.com/jjhelmus/pyfive/issues/1), but once that is done should be pretty easy, given that pyfive mirrors the h5py API. This will let us read netcdf4 from file-like objects!

CC @jjhelmus

[2017-03-21 21:55] shoyer commented on #16
The fix for this (to avoid making files that h5netcdf can't read) was just merged upstream in netcdf-c.

It looked like getting a fix for this into h5py would have been difficult, so I'm going to close this issue for now -- hopefully the offending files will eventually stop being created, as users upgrade their netCDF installations.

[2017-03-21 21:57] #16 closed

[2017-03-23 16:25] mangecoeur opened #27 "netCDF attributes loaded as ndarrays of bytes"
When using h5netcdf as the xarray backend to open files created using netCDF4, it seems all the attributes are being loaded as ndarrays with a single item of 'byte' instead of being converted to strings.

[2017-03-23 16:41] shoyer commented on #27
Can you share an example of how you created the netCDF file and what you see? The output of `h5dump` can also be extremely helpful for understanding what the netCDF library is doing.

[2017-03-23 16:46] shoyer opened #28 "Disable writing files with features not supported by netCDF-C?"
Currently, we support several features implicitly via h5py that make for files the netCDF-C library can't read:

- complex dtypes (https://github.com/pydata/xarray/issues/748)
- multidimensional attribute arrays (see http://stackoverflow.com/questions/42963789)
- probably some other dtypes that h5py handles

I am inclined to disable writing files with these features to avoid incompatibilities with

[2017-03-24 11:01] mangecoeur commented on #27
Sure. The script to create the files is [here](https://gist.github.com/mangecoeur/d6c7cdd71a635fb0a4afca98f3fce604) , attributes are set in `prepare_output_file` - the script resmaples one set of netCDF file to another. `h5dump -H` of one file gives

[code]

[2017-04-07 04:01] shoyer commented on #27
So we discussed this a while ago over in https://github.com/Unidata/netcdf-c/issues/127 but it didn't get resolved.

One pragmatic option would be to automatically convert attributes that netCDF4 would consider strings into native Python strings when reading, i.e., scalar strings and arrays with shape `(1,)` with ASCII or UTF5 character sets.

[2017-04-07 08:57] mangecoeur commented on #27
Probably the most practical solution. Would be nice to have a better
understanding of what the correct behaviour is supposed to be though. Is it
that python-netcdf is already doing this conversion implicitly somewhere
maybe?

On 7 Apr 2017 05:01, "Stephan Hoyer" <notifications@github.com> wrote:

[2017-04-07 17:22] shoyer commented on #27
Yes, netCDF4-python already does many of these implicit conversions. This is probably a fine thing to do for attributes, since nobody should be using them to store binary data.

For array values, we really need a NumPy one byte string type on Python 3. But that's a whole different matter.

[2017-04-07 19:12] DennisHeimbigner commented on #27
I do not understand this issue. A string valued attribute in netcdf-4 is stored
as a vector of variable length strings ot char set utf8.
Where doe the single bytes issue come from?

[2017-04-07 22:43] shoyer commented on #27
@mangecoeur do you know what versions of netCDF4-python and netCDF-C were used to write your files? e.g.,
[code]

When I try creating string attributes with these latest releases of netCDF4-Python and netCDF-C, everything gets written with UTF8 character set, scalar data and fixed length, which h5py/h5netcdf actually can't read at all. This will change after https://github.com/Unidata/netcdf-c/pul

[2017-04-07 22:45] shoyer commented on #27
It looks like this is actually an open h5py issue: https://github.com/h5py/h5py/issues/379

[2017-08-30 15:39] #28 closed

[2017-09-08 07:14] LocutusOfBorg opened #31 "broken with h5py 2.7.1"
Hello, seems that some recent changes in h5py are making it FTBFS (testsuite failures)

can you please have a look?
https://launchpadlibrarian.net/336263681/buildlog_ubuntu-artful-amd64.python-h5netcdf_0.4.1-0ubuntu1_BUILDING.txt.gz
[code]

[2017-09-08 07:14] LocutusOfBorg commented on #31
I'm trying to rebuild netcdf right now, to see if this is just an ABI change

[2017-09-08 07:58] LocutusOfBorg commented on #31
this patch seems to help, closing then
https://github.com/Unidata/netcdf-c/pull/316

@ghisvail FYI :)

[2017-09-08 10:49] ghisvail commented on #31
Please correct me if I am wrong, only `netcdf-c` needs to be fixed with `h5py` and `h5netcdf` remaining unchanged? Does something need to happen on `netcdf-python` too?

[2017-09-08 12:34] LocutusOfBorg commented on #31
I guess a netcdf-c fix did the trick, but in the meanwhile I also updated h5netcdf, so I can't test the old one

[2017-09-08 12:34] #31 closed

[2017-10-02 09:52] ghisvail opened #32 "Tests yield OSError exceptions"
I am getting a bunch of `OSError` exceptions when running the test suite for both the packaged version `0.3.1` and the new version `0.4.2`. Here is the full log:
[code]

[2017-10-02 18:34] shoyer commented on #32
Which versions of netCDF4-Python and libnetcdf (the C library) are you using?

[2017-10-04 04:41] ghisvail commented on #32
netcdf4-python: `1.3.0`
libnetcdf: `4.4.1.1`

[2017-10-09 08:01] ghisvail commented on #32
Link to current bug report on the Debian BTS: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=877150

[2017-10-11 01:55] shoyer commented on #32
This is suspiciously related to https://github.com/shoyer/h5netcdf/issues/16, but I haven't updated our test suite recently and we've been testing against libnetcdf 4.4.1.1 for a while.

So it must be a new netcdf4-python version. And indeed, using a more up-to-date netcdf4-python (1.2.9 vs 1.2.4 currently used by our test suite) reveals the same test failures: https://travis-ci.org/shoyer/h5netcd

[2017-10-11 03:04] shoyer commented on #32
Fixed in 549a4f75cadde307de22274a85e343a062e2e9e0.

This turned out to just be an overly fragile test. I've already released a new version (0.4.3) which is up on pypi.

[2017-10-11 03:05] #32 closed

[2017-10-18 18:20] jhamman opened #36 "legacy api: add isunlimited method"
For compatability with netCDF4-Python, it would be nice to have the `isunlimited` on variable objects:

reference: http://unidata.github.io/netcdf4-python/#netCDF4.Dimension.isunlimited
xref: https://github.com/pydata/xarray/pull/1637

[2017-10-18 19:38] shoyer commented on #36
We don’t have notion of Dimension objects (yet) in h5netcdf. We just use integers, or None for unlimited.

[2017-10-18 19:38] shoyer commented on #36
I suppose this would indeed make sense for the legacy API.

[2017-10-24 06:47] shoyer opened #37 "Support _FillValue for variable length strings"
Current status:
- We can read them, for files written with netCDF4-python (via https://github.com/Unidata/netcdf4-python/pull/732).
- We can't write them, due to https://github.com/h5py/h5py/issues/941.

[2017-10-31 10:15] ghisvail opened #38 "Move the change log to a separate file"
Please consider moving the change log section of the README to a separate file (CHANGELOG.rst) and ensure the latter is shipped within the release tarball. Debian and other Linux distributions recommend usage of a separate change log file, and can automatically process it as part of the packaging process.

Cheers,

[2017-12-06 22:20] ajelenak-thg opened #39 "Non-attached HDF5 dimension scale does not have REFERENCE_LIST attribute"
A file created using the example code from the New API section of the README file causes the following error on file open:

[code]

This is caused by the netCDF dimension (HDF5 dimension scale) `z` in the file. The example code creates and reshapes it but never assigns to any netCDF variable. On the HDF5 side this translates to not attaching the `z` dimension scale to another HDF5 dataset. The HDF

[2017-12-15 21:11] #39 closed

[2018-02-19 06:34] jhamman commented on #4
Perhaps this should have been closed by #33.

[2018-02-19 06:37] #4 closed

[2018-02-19 06:37] shoyer commented on #4
Yes, thanks.

[2018-04-05 18:50] mathause opened #42 "cannot read netCDF with more than one unlimited dimension"
[code]

This yields `ValueError: Each dimension with an actual length must have a 'REFERENCE_LIST' attribute`. I think this should work.

#### Output of ``xr.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.4.final.0
python-bits: 64
OS: Linux
OS-release: 4.4.120-45-default
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_GB.UTF-8

[2018-04-05 19:55] shoyer commented on #42
Agreed, this should work. I'm marking this as a bug -- any interest in trying to figure this out?

[2018-04-10 16:17] mathause commented on #42
I just checked and this no longer raises an error in master. So #40 seems to have fixed the issue.

[2018-04-11 15:02] mathause commented on #42
I looked a bit deeper and I think the problem was that my `'dim1'` did not belong to anything. So I think this is actually the same issue as #39. Thus this should be covered by

https://github.com/shoyer/h5netcdf/blob/master/h5netcdf/tests/test_h5netcdf.py#L742-L749

So I think we can actually close this.

[2018-04-11 15:39] shoyer commented on #42
OK, thanks for looking into it. I issued the v0.5.1 release, which should be up on pypi now.

[2018-04-11 15:39] #42 closed

[2018-05-17 11:13] denis-bz opened #43 "suggest variable has no dimension scale associated with axis 0 warning, not error"
Stephan,
  (noob here, just want numpy-able data)

I have a dataset with 2 keys [u'NS', u'AlgorithmRuntimeInfo'] which

- h5py reads fine
- h5netcdf reads fine, but print f["AlgorithmRuntimeInfo"]
    ValueError: variable u'/AlgorithmRuntimeInfo' has no dimension scale associated with axis 0
- xr.open_dataset( infile, engine="h5netcdf" )
    dies with the same ValueError.

Make this a warning, not

[2018-05-17 17:01] shoyer commented on #43
Unfortunately I think this means that this file is HDF5 file but not an netCDF4 file, so we can't really expect netCDF tools to work on it. netCDF4 is a specialized file format built on HDF5.

This could probably be made to work with a default dimension, but in general dimension scales are a pretty core part of the netCDF4 data model, so maybe it makes sense to use h5py here instead.

[2018-05-24 17:10] denis-bz commented on #43
Stephan,
  Thanks. Is there any program in nc* that would tell me that ?
`nccopy -k nc4 my.h5 my.nc` creates a .nc that works in h5netcdf ?!
`ncinfo` looks ok to me --

    <type 'netCDF4._netCDF4.Dataset'>
    root group (NETCDF4 data model, file format HDF5):
        dimensions(sizes):
        variables(dimensions):
        groups: NS

Ideally I'd like a description of common differences between

[2018-05-24 17:44] shoyer commented on #43
If netCDF4 supports it, then ideally h5netcdf should, too. Can you share an example file so I can take a look?

I don't know a general way to check for netCDF4 API compatibility, unfortunately. Recent versions of netCDF4 do add some special attributes for checking if an HDF5 file was created via a netCDF library (e.g., the `_NCProperties` attribute), but other HDF5 files might also be valid netCDF

[2018-05-25 16:15] denis-bz commented on #43
I could put up a binary file, but don't want to waste your time
on non-reproducible stuff (it works after`nccopy).

All I really wanted to do is read an .h5 file that somebody sent me into xarray;
there's a tiny test case for that under https://gist.github.com/denis-bz
    test.cdl -> test.nc -> read3.py, read with h5py h5netcdf xarray

looks like more for xarray people than for you -- if so could

[2018-05-25 16:26] shoyer commented on #43
Well, I'm an xarray person, too. But if you found a reasonable work-around,
then indeed maybe it's not worth the trouble of fixing it :).

On Fri, May 25, 2018 at 9:15 AM denis-bz <notifications@github.com> wrote:

[2018-05-25 16:35] denis-bz commented on #43
Sorry, didn't know that. The little test case starts with .cdl, for reproducibility;
h5py and h5netcdf can read the .nc, but xarray reads empty ??
Please take a look:
https://gist.github.com/denis-bz/ce4e7a9b50436b0c6e5282f365c6d03d

[2018-06-07 23:54] crusaderky opened #44 "LZF is part of the NetCDF API"
xarray 0.10.6, h5netcdf 0.5.1:
[code]
However, I understand that arbitrary compression plugins have recently become part of the NetCDF specification.

[2018-06-09 01:48] #44 closed

[2018-08-19 05:28] shoyer opened #47 "Test suite is flaky due to failure to connect to h5pyd test server"
Over the last few months, h5netcdf's test suite [has been failing](https://travis-ci.org/shoyer/h5netcdf/builds) about 50% of the time on Travis-CI:
<img width="1055" alt="screen shot 2018-08-18 at 10 22 12 pm" src="https://user-images.githubusercontent.com/1217238/44305804-de1f7d80-a335-11e8-921b-2281a13f76b6.png">

This is just enough to start to get annoying.

In particular, it fails at:
[code]

[2018-08-29 17:42] jreadey commented on #47
Hey @shoyer - could you change the HS_ENDPOINT to http://hsdshdflab.hdfgroup.org?
I'll send you credentials via email.

[2018-08-29 17:48] shoyer commented on #47
@jreadey sure thing -- you can reach me at shoyer@gmail.com

[2018-08-31 01:14] shoyer opened #48 "test_create_variable_matching_saved_dimension is failing with h5pyd"
This recently introduced test (added in https://github.com/shoyer/h5netcdf/pull/46) is failing with h5pyd.

Example failures (from https://travis-ci.org/shoyer/h5netcdf/builds/422824485) on Python 3.6:
[code]

and on Python 2.7:
[code]

The Python 3.6 failure is a minor unicode/bytes inconsistency that might not actually matter for users. I haven't looked into it enough to have an opinion on wheth

[2018-08-31 01:15] shoyer commented on #47
@jreadey thanks for your help -- this seems to be working again now.

[2018-08-31 13:11] ajelenak-thg commented on #48
I can take a lot at this but cannot work on it immediately.

[2018-11-14 19:37] trevor opened #49 "Error importing compound type"
[code]

[code]

[code]

[2018-11-14 23:49] shoyer commented on #49
Hmm. It appears that h5netcdf tries to read the `Datatype` object as an HDF5 Dataset.

I suspect the right place to fix this is to add another check to these lines, to verify that the object we're adding to `self._variables` is a `h5py.Dataset`:
https://github.com/shoyer/h5netcdf/blob/f15ffdcab090aca20c2f323abbe5a0dbac6f5947/h5netcdf/core.py#L263-L267

Contributions would be welcome!

[2019-01-10 16:35] floriankrb opened #50 "ImportError: sys.meta_path is None, Python is likely shutting down"
This works :
[code]

But this does not :
[code]

The following exception message is witten on stderr **when the script ends**.

As far as I kow, this may be related to #21 and to the garbage collector.

Note that adding "ds.close()" removes the message.

[code]
Works as expected.

[2019-01-11 12:56] floriankrb commented on #50
[code]

INSTALLED VERSIONS
------------------
commit: f64a7d55b437528077b23c1eb55863f5012947b5
python: 3.6.7 | packaged by conda-forge | (default, Nov 21 2018, 02:32:25)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)]
python-bits: 64
OS: Linux
OS-release: 4.9.35-server-1.mga6
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: fr_FR.UTF-8
LOCALE: fr_FR.UTF-8
libhdf5: 1.10.4
libnetcdf: 4

[2019-03-06 09:21] dionhaefner opened #52 "Humongous netCDF files with unlimited dimensions"
I am the author of a pure-Python ocean model. After switching from netCDF4 to h5netcdf I noticed that output files were much larger.

This seems to be the case only when using unlimited dimensions, and the file does not grow by much when the dimension is resized later on, so I guess it is down to how much space is preallocated for unlimited dimensions.

Example script to reproduce the problem:

[c

[2019-03-07 13:25] dionhaefner commented on #52
This is fixed by supplying an explicit chunk size to `create_variable`:

[code]

By default, `h5py` tries to guess an optimal chunk size. But if only one dimension is unlimited, that guess is usually suboptimal. I don't know how netCDF4 determines the chunk size for unlimited dimensions, but it could be worth looking into it to avoid this surprising behavior for users making the switch.

[2019-03-14 06:20] shoyer commented on #52
Hi @dionhaefner -- I'm glad you tracked this down! I'd be happy to add this heuristic to h5netcdf if you can figure it out, at least to the legacy interface that tries to match netCDF4-python exactly.

[2019-03-14 14:25] dionhaefner commented on #52
This should be it:

https://github.com/Unidata/netcdf-c/blob/a57101d4b7dcabf7d477c08eee9a5a126732f702/libhdf5/hdf5var.c#L104-L225

Pretty lengthy 😅

[2019-03-17 02:53] shoyer opened #53 "Test failure with libnetcdf 4.6.2"
These only seem to appear when I install libnetcdf 4.6.2 specifically. With libnetcdf 4.6.1, they go away:
[code]

[2019-03-17 03:44] shoyer commented on #53
The problem appears to be that in cases involving subgroups, h5netcdf can reuse `_Netcdf4Dimid` values multiple times. This didn't used to cause netCDF-C to crash, but now it does.

[2019-03-17 03:49] #53 closed

[2019-03-27 09:10] majdo19 opened #54 "netcdf4 in wxpython can't visualize plot !"
hi,

i have my app in wxpython , i need to plot some netcdf4 fil in folder
the problem i have 2 leftpanel the first leftpaneltop  when i select with button choose fil netcdf4 and the second  leftpanelbottom is for visualize the file but when i choose my file they can't open with error :

Traceback (most recent call last):
  File "/home/sarah/app2.py", line 80, in onOpen
    LeftPanelBottom(parent=

[2019-03-27 15:10] jhamman commented on #54
I think you have posted in wrong repo. I suggest posting questions like this on stack overflow. Or perhaps on the WX repo.

[2019-03-28 08:30] majdo19 commented on #54
i posted it in stack overflow but i don't have any answers ...

[2019-03-28 13:26] #54 closed

[2019-03-31 21:36] shoyer commented on #52
To be clear, contributions would be welcome here. I don't plan to write this myself :).

[2019-04-01 11:10] dionhaefner commented on #52
Sure. I think having the issue documented here is pretty useful already, but reproducing the chunking heuristic would of course be nicer. Do you have any suggestion where it could be implemented?

[2019-04-03 15:32] shoyer commented on #52
I would probably put it in `h5netcdf/legacyapi.py` somewhere, e.g., in the `createVariable` method, which already has accommodations for netCDF4's behavior:
https://github.com/shoyer/h5netcdf/blob/3ae35cd58297281a1dc69c46fb0b315a0007ac2b/h5netcdf/legacyapi.py#L69

[2019-05-21 03:07] shoyer opened #55 "h5netcdf creates files with groups that cannot be read with netCDF4"
As reported over in https://github.com/pydata/xarray/issues/2974.

For reference, the output of h5dump for files created with netcdf4 and h5netcdf:
[code]
and
[code]

Here's the diff:
[code]

[2019-05-21 03:12] shoyer commented on #55
To summarize the salient features of the diff:
- netCDF-C produces a file with a `_Netcdf4Dimid` attribute on the `grp1/data1` dataset. This seems a little strange -- this variable definitely isn't a dimension scale.
- h5netcdf produces a file where `grp1/x` and `grp1/y` have `REFERENCE_LIST` attributes of length 2. This also looks suspicious -- which two variables are these dimension scales assoc

[2019-05-21 06:27] shoyer commented on #55
The real issue seems to be reusing dimension IDs.

Fixed by 13dae1afe349a829b681a78f33dc721e2e727689

[2019-05-21 06:27] #55 closed

[2019-05-21 09:46] sfinkens opened #56 "__version__ not updated in 0.7.2 release"
In the recent 0.7.2 release `h5netcdf.__version__` still reports 0.7.1

[2019-05-21 15:17] shoyer commented on #56
Thanks, I noticed this as well :).

I went ahead and bumped the minor version to 0.7.3, because I'd already pushed the tag for 0.7.2 to GitHub.

[2019-05-21 15:17] #56 closed

[2019-05-30 22:37] shoyer commented on #47
These are failing on Travis-CI again with "OSError: [Errno 404] Not Found", e.g., see https://travis-ci.org/shoyer/h5netcdf/jobs/539292517

I've disabled them for now in https://github.com/shoyer/h5netcdf/pull/58 but would be happy to bring them back later if we can get them working consistently.

[2019-05-30 23:12] jreadey commented on #47
I think this is due to the target folder not being present on the server.  I've re-created them, can you try enabling the travis test to see if that resolves the issue?

[2019-05-30 23:50] shoyer commented on #47
Thanks @jreadey, we're back in business!

see https://github.com/shoyer/h5netcdf/pull/59

[2019-05-30 23:50] #47 closed

[2019-07-20 16:23] chazanov opened #61 "Pytest API change"
All tests may fail because of using deprecated pytest features.
[code]

[2019-09-11 15:12] dcherian opened #62 "h5py 2.10.0 deprecation warning"
This new warning is the root cause of https://github.com/pydata/xarray/issues/3300

[2019-11-06 13:53] kmuehlbauer commented on #43
Sorry for reviving this, but I have some similar issue reading HDF5 files.

Currently I'm using the netCDF4 based engine within xarray to load hdf5 files (without dimension-scales). The dimensions are picked up by the netcdf-c library as `phony_dim_N`, where N is some number of first occurrence. As h5netcdf seems to be faster (with smaller memory footprint) for my use case I tried to get it runnin

[2019-11-25 16:09] gerritholl opened #63 "AttributeError when opening file with only groups at root level"
When I open the this file with no other arguments, h5netcdf raises an AttributeError:

Data available from EUMETSAT: https://www.eumetsat.int/website/home/Satellites/FutureSatellites/MeteosatThirdGeneration/MTGData/MTGUserTestData/index.html  --> ftp://ftp.eumetsat.int/pub/OPS/out/test-data/Test-data-for-External-Users/MTG_FCI_Test-Data/ --> uncompressed

[code]

results in an `AttributeError` as

[2019-12-04 20:52] shoyer commented on #43
Yes, it this seems like a reasonable feature to add.

[2019-12-09 06:03] shoyer commented on #63
My suspicion is that this simply isn’t a valid netcdf file, because some dimensions are not set. See https://github.com/shoyer/h5netcdf/issues/43 for discussion about adding this as a feature.

[2019-12-11 12:01] kmuehlbauer commented on #63
@gerritholl @shoyer I've tracked that down to some variables.

[code]
If I read them with a prepared version of #64, I get
`print(ds['trilean']._h5ds)`
`<HDF5 named type "trilean" (dtype |u1)>`

This named type doesn't have a dimension-object:
`dir(ds['trilean']._h5ds)`
[code]

[2019-12-11 12:41] kmuehlbauer commented on #63
FYI: netcdf-c interprets the offending *variables* as `types`.

[code]
netCDF4 is obviously omitting everything:

[code]

[2020-01-08 12:39] DerWeh commented on #50
Is this still active? I do get the same error:

[code]

Using
[code]
A within a function always raises the error, using `result = xr.open_dataset(output, engine='h5netcdf')` this error only occurs if I do **not** manually invoke `result.close()`.

---------------
I have to my knowledge the most recent versions installed:
[code]

[2020-01-08 17:19] shoyer commented on #50
I now think this is a probably a bug on the xarray side. We should be automatically cleaning-up unclosed files using atexit rather than only relying on `__del__`: https://stackoverflow.com/questions/14986568/python-how-to-ensure-that-del-method-of-an-object-is-called-before-the-mod

If you could share a script that reproduces the bug that would be very helpful for testing. Please file an issue in

[2020-01-08 18:16] DerWeh commented on #50
Thanks for the info, I will try to come up with a minimal script this weekend and open a pull request.

I see. Using `__del__` is indeed no reasonable way to clean up. Before switching to `xarray` I had a hacky solution to automatically close my files, which I happily appended and deferred the problem to `xarray`.  I patch something together using `weakref.finalize`, which sounded to me like the r

[2020-01-08 21:19] shoyer commented on #50
It sounds like you may have looked into this in more detail than I have!

Take a look [here](https://github.com/pydata/xarray/blob/080caf4246fe2f4d6aa0c5dcb65a99b376fa669b/xarray/backends/file_manager.py#L223) for the logic in xarray. Pull requests to improve this would be very welcome!

[2020-01-09 11:02] kmuehlbauer commented on #63
seems this is related #49

[2020-01-09 19:52] #61 closed

[2020-01-10 13:33] kmuehlbauer opened #68 "Group.name property returns full path instead of name"
XRef:  https://github.com/pydata/xarray/issues/3680 for more detail.

Sorry, if that has been discussed before.

I see two points here:

- alignment with h5py which returns the full name of the object (full path from root), status quo
- alignment with netCDF4 which returns the name

Xarray tries to use `h5netcdf` in the same manner as `netCDF4`, which breaks due to this.

The questions is, where s

[2020-01-14 12:30] kmuehlbauer commented on #62
@dcherian see #69

[2020-01-14 14:57] dcherian commented on #62
Thanks @kmuehlbauer !

[2020-01-20 04:10] #62 closed

[2020-01-20 04:12] #49 closed

[2020-01-20 04:12] #63 closed

[2020-02-15 16:21] edwardhartnett opened #70 "problems with user defined types?"
Howdy!

I'm the author of netcdf-4, and currently help maintain the C library. I just heard about this project and it looks really fun and interesting!

From a brief read of the docs, it seems that you don't believe vlens and some other user-defined types are not supported in netCDF. Everything should be supported except:
* transiant types (I just learned of them!)
* reference types (I can't figur

[2020-02-20 09:30] KillerStrike17 opened #71 "Changes floating point values to rounded integers"
if i have a value like 3.76412, when i read it it converts the value to 376, and if the value is 3.7677 it converts to 377

[2020-02-29 23:23] shoyer commented on #71
I’m not quite sure what you mean. h5netcdf itself doesn’t any logic for doing something like this, so I suspect the culprit is something else in the stack. Could you share a code example?

[2020-02-29 23:28] shoyer commented on #70
Hi Edward, good to hear from you!

netCDF does support user-defined types, but unfortunately it can’t read user defined types written by h5py. That’s all I intended to imply with the statement in the README.

It actually looks like we talked about this a few years ago: https://github.com/Unidata/netcdf-c/issues/267

Cheers,
Stephan

[2020-03-09 12:44] nschloe opened #72 "createVariable: KeyError: 't' (works with netCDF4)"
MWE:
[code]
[code]

[2020-03-21 07:01] shoyer commented on #72
You’re setting `dimensions=“time_step”`. NetCDF4-Python apparently interprets this as a list of length one whereas h5netcdf interprets it as a sequence of characters.

I would argue that this is probably a programming error, and it would be best to require users to explicitly pass a list or tuple of strings.

If you or anyone else is interested, I would be happy to accept a pull request making thi

[2020-03-24 13:08] nschloe opened #73 "legacyapi: set_auto_mask, S1 variables don't work"
More things that don't work in `h5netcdf.legacyapi` but do work in `netCDF4`:
[code]
[code]
[code]

[2020-03-29 07:18] shoyer commented on #73
The omission of set_auto_mask was intentional: https://github.com/shoyer/h5netcdf#legacy-api

You can assign to character variables, but it appears h5py is stricter about dtypes. Try assigning `bytes` instead of one character strings.

[2020-04-01 23:04] mdgoldberg commented on #50
Hey, I'm still running into this issue using xarray. My versions are xarray 0.15.0 and h5netcdf 0.7.4.

It seems that adding `dataset.close()` doesn't fix the issue unless you also `load()`/`compute()` the dataset. My process is `open_mfdataset` followed by `close()`, but I still get a long list of those h5py messages (one for each file opened by `open_mfdataset`).

@shoyer did this issue ever mak

[2020-04-01 23:25] shoyer commented on #50
I don't think has made it onto the xarray issue tracker yet. It would still be helpful to have a full script that reproduces the behavior for debugging potential fixes.

[2020-04-04 11:22] RizzerOnGitHub opened #74 "h5py.File needs access mode specified"
Looks like commit d1e4c0f missed a couple.

[h5py_File_mode.patch.txt](https://github.com/shoyer/h5netcdf/files/4431222/h5py_File_mode.patch.txt)

[2020-04-04 11:24] RizzerOnGitHub commented on #74
Incidentally,  release v0.8.0 appears on pypi, but not here. Does it need to be pushed here?

[2020-04-04 13:18] dcherian commented on #74
@RizzerOnGithub It would be easier if you opened a pull request

[2020-04-04 16:36] RizzerOnGitHub commented on #74
https://github.com/shoyer/h5netcdf/pull/75

[2020-04-07 03:33] shoyer commented on #74
Thanks for the pull request!

[2020-04-07 03:33] #74 closed

[2020-05-19 04:09] ashwinvis opened #76 "Missing git tag for 0.8.0 release"
I noticed that 0.8.0 is out on PyPI and conda-forge, but not tagged on GitHub. Also, the the changelog says TBD here and "Version 0.8.0 (February 4, 2020):" on PyPI. Seems like the release commit is missing.

[2020-07-18 02:08] shoyer commented on #76
Good catch!

I pushed the missing commit/tag, but it required rewriting history because unfortunately I merged #75 in the meantime :(

[2020-07-18 02:09] shoyer commented on #76
I just pushed 0.8.1, too. It should be up on pypi and have a git tag, this time.

[2020-07-18 02:09] #76 closed

[2020-07-18 02:21] shoyer opened #77 "Fix test suite on Travis-CI"
The test suite passes locally for me, but for some reason it's failing in CI.

[2020-07-25 01:16] shoyer commented on #77
Fixed by https://github.com/shoyer/h5netcdf/pull/78

[2020-07-25 01:16] #77 closed

[2020-08-05 23:42] jreadey opened #79 "pytest failures"
Hi,

  I built from master with Python 3.8, h5py 2.10.0, netCDF4 1.5.4, and hdf5 1.10.4.

  Running py.test -v h5netcdf/  (with WITHRESTAPI not set) I got the following two failures:

    FAILED h5netcdf/tests/test_h5netcdf.py::test_invalid_netcdf4[testfile.nc] - AssertionError: assert 'phony_dim_0' == 'phony_dim_1'
    FAILED h5netcdf/tests/test_h5netcdf.py::test_invalid_netcdf4_mixed[testfile.nc

[2020-09-29 09:39] gerritholl opened #80 "core dump or ignored exceptions on shutdown when reading from s3fs using fsspec"
When I try to read a file opened using `fsspec.open`, I get a fatal Python error (core dump) on shutdown.

Using:

[code]

and then running with `python -X dev` gives:

[code]

when wrapping the opening in a context manager, the core dump is apparently averted, but there are still ignored exceptions reported on shutdown.  Using:

[code]

gives

[code]

It is puzzling that the traceback starts at t

[2020-09-29 09:49] gerritholl commented on #80
When additionally I try to use fsspec blockcache I get additional tracebacks.  Using

[code]

I get:

[code]

That may be related to https://github.com/intake/filesystem_spec/issues/404

[2020-09-29 13:48] gerritholl commented on #80
When I manually delete the relevant objects before Python shuts down, there is no error message:

[code]

behaves as I would expect, no "exception ignored" message.

[2020-10-05 06:54] shoyer commented on #80
This sounds a lot like https://github.com/shoyer/h5netcdf/issues/50.

The summary of that issue is that almost any use of `__del__` is a bug. You basically should avoid using `__del__` in favor of `weakref.finalize`.

[2020-10-05 06:55] shoyer commented on #79
What version of libnetcdf are you using? If I recall correctly, this requires a relatively recent bug-fix to libnetcdf.

[2020-11-10 06:55] kmuehlbauer opened #81 "string handling changed in h5py >= 3.0"
In `h5py` storing of strings has changed (see https://docs.h5py.org/en/latest/whatsnew/3.0.html and https://docs.h5py.org/en/latest/strings.html).

This currently breaks the testsuite and also downstream packages using `h5py>=3.0` (https://github.com/pydata/xarray/issues/4570).

Below is the `ncdump` of the three write methods used in the testsuit (using `h5py=3.1`), where the output of `netcdf4`

[2020-11-10 07:29] kmuehlbauer commented on #81
Quoting from the `h5py 3.1` documentation:

AFAICS the problem is with the variable-length strings  which are returned as `bytes` objects.

[2020-11-10 08:09] kmuehlbauer commented on #81
The major pain is now, that `netCDF4` returns decoded strings and `h5py>=3.0` returns `bytes` objects.

ping @shoyer I would try to come up with a PR to fix this, but wanted to hear your thoughts about possible handling. As compatibility with `netCDF4` is crucial there would be need to decode the `bytes` object. There is `Dataset.asstr()` which can be utilized.

[2020-11-10 20:55] kmuehlbauer commented on #81
See #82 for possible fix.

[2020-11-13 18:05] shoyer commented on #81
I think using `asstr()` is _probably_ the right fix here, though I am a little hesitant to make h5netcdf inconsistent with h5py. Maybe it would make sense only to change the "netCDF4" compatible interface? I'm honestly not entirely sure

[2020-11-16 07:46] kmuehlbauer commented on #81
@shoyer I must admit that I've never used the `legacyapi`. From my understanding this problem has three contradicting points:

1. backwards compatibility
2. compatibility with netCDF4
3. consistency with h5py

One solution would be, if I understand your suggestion correctly, to apply this only to the `legacyapi`and leave the modern API to use h5py verbatim. But this would break every downstream pa

[2020-11-16 16:24] kmuehlbauer commented on #43
@denis-bz It's been a while, but this should be resolved with #64. If you encounter any problems, please reopen or create a new issue.

[2020-11-16 16:24] #43 closed

[2020-11-16 16:54] kmuehlbauer commented on #71
@KillerStrike17 If this is still relevant, please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

[2020-11-16 17:01] kmuehlbauer commented on #79
@jready This is implemented in netcdf-c [4.7.3](https://github.com/Unidata/netcdf-c/releases/tag/v4.7.3) and available in `h5netcdf=0.8.0`. Please reopen if still an issue.

[2020-11-16 17:01] #79 closed

[2020-12-18 13:35] nschloe commented on #72
Agreed. netcdf should be stricter here.

[2020-12-18 13:35] #72 closed

[2021-01-05 16:03] drew-parsons commented on #81
Your idea of adding a `decode_strings` with a DeprecationWarning sounds reasonable to me. It supports existing users of h5netcdf and old h5py while providing a clear pathway for upgrading to h5py 3.  The alternative is to just drop backwards compatibility, which is essentially what h5py have done. Going through a DeprecationWarning first makes it a softer transition.

[2021-01-11 06:45] kmuehlbauer commented on #81
@drew-parsons Thanks for the feedback. I'll try to integrate this into #82 when I find time.

[2021-01-11 07:33] shoyer commented on #81
I like the new keyword argument + deprecation cycle.

[2021-02-04 14:32] #71 closed

[2021-02-04 14:32] kmuehlbauer commented on #71
Please reopen with minimal reproducible example.

[2021-02-04 14:43] kmuehlbauer commented on #14
The OP's example works with recent hdf5/netcdf libraries and their python bindings. Please re-open if appropriate.

[2021-02-04 14:43] #14 closed

[2021-02-04 14:50] kmuehlbauer commented on #9
This seem to work with recent hdf5/h5py/h5netcdf packages. Please reopen with updated example.

[2021-02-04 14:53] kmuehlbauer commented on #8
As this is summarized in the [README](https://github.com/h5netcdf/h5netcdf/blob/master/README.rst) I'll close this.

[2021-02-04 14:53] #8 closed

[2021-02-04 14:56] kmuehlbauer commented on #6
@shoyer Can this be closed? We might think to compile everything into some documentation (to not overcrowd the README).

[2021-02-04 14:56] #9 closed

[2021-02-04 18:09] #6 closed

[2021-02-07 08:58] #81 closed

[2021-02-09 11:48] kmuehlbauer opened #84 "h5py3 string encoding issues with xarray"
While testing `xarray` with the new string encoding introduced in #82 I found that the current string_check is not sufficient and will result in unwanted decoding of data

Currently the check is as follows:

https://github.com/h5netcdf/h5netcdf/blob/2bf46a7728ff8fcf96374a882d2272d17595e311/h5netcdf/core.py#L153-L155

This is a more specific test which only wraps strings with length=None with `.ass

[2021-02-10 08:05] kmuehlbauer commented on #84
I've removed the `bug` - label since this might not actually be a bug in that sense, but some kind of interoperability issue.

[2021-02-10 14:36] kmuehlbauer commented on #84
This is a nice read of string handling in netcdf4-python https://unidata.github.io/netcdf4-python/#dealing-with-strings. And here similar for h5py https://docs.h5py.org/en/stable/strings.html and https://docs.h5py.org/en/stable/special.html

`xarray` uses `set_auto_chartostring(False)` to disable automatic conversion from char arrays to strings:

[code]

@shoyer I think the current state of #85 is

[2021-02-11 12:50] kmuehlbauer commented on #84
OK, I've something probably useful setup over in https://github.com/pydata/xarray/pull/4893.

[2021-02-11 17:17] shoyer commented on #84
Thanks for looking in this.

I think your fix in https://github.com/h5netcdf/h5netcdf/pull/85 is on the right track. For consistency with netCDF4-Python, we probably do only want to automatically decode vlen str arrays automatically, not fixed width ascii.

In the long term, we might end up wanting our own `asstr()` method if we care about full compatibility with h5py.

[2021-02-11 20:38] shoyer commented on #84
I just made a 0.10.0 release, and pushed it to both pypi and github.

[2021-02-11 20:47] kmuehlbauer commented on #84
Thanks @shoyer, that's great.

[2021-02-12 06:57] #84 closed

[2021-02-23 19:31] peendebak opened #86 "Storing python dictionaries"
Is it possible to store (nested) python dictionaries with netcdf4? The following minimal example I tried raises an exception.

[code]
If storing dictionaries is not yet possible, what would it require to implement this inside h5netcdf?

Running:
Python version 3.8
h5netcdf version 0.10.0.
h5py version 2.10.0

The full traceback for the exception is:
[code]

[2021-02-23 20:47] kmuehlbauer commented on #86
@peendebak Thanks for raising this. Could you please add the full traceback and the hdf5 version for completeness?

[2021-02-23 22:24] peendebak commented on #86
@kmuehlbauer I added the information the first comment

[2021-02-24 06:55] kmuehlbauer commented on #86
Although I've never seen any python dictionary directly read or written to `netcdf` or `hdf5` attributes, it doesn't mean it won't exist. But also the documentation over at `NetCDF` [1] states that _"Attributes are all either scalars (single-valued) or vectors (a single, fixed dimension)"_ [2].

You can still solve this by storing the key,value-pairs via `groups` (hdf5/netcdf4), but this would inv

[2021-03-02 17:34] kmuehlbauer commented on #86
@peendebak Did you get along with your problem here? Please let us know, so we can close the issue.

[2021-03-03 08:13] kmuehlbauer commented on #5
@mangecoeur Considering the age of this issue and the fact that this never was implemented, I'll close this. Feel free to reopen.

[2021-03-03 08:13] #5 closed

[2021-03-03 08:33] kmuehlbauer commented on #25
@shoyer Regarding reading file-like objects, is this still an issue? And second question, should we try to implement this in near future?

[2021-03-03 08:38] kmuehlbauer commented on #27
@mangecoeur Could you please check with latest `xarray=0.17.0`, `h5netcdf=0.10.0` and `h5py>3`? This normally should work now, so closing. Please reopen or create a new issue if problem persists.

[2021-03-03 08:38] #27 closed

[2021-03-03 08:55] kmuehlbauer commented on #48
@shoyer Should we consider testing `h5pyd` again? If so, what is needed to start testing `h5pyd` again?  We would need a reliable endpoint, though.

[2021-03-03 09:00] kmuehlbauer commented on #50
@shoyer Will this be resolved with `XARRAY_BACKEND_API = v2`? If we had a MWE, we could add tests for this.

[2021-03-03 09:43] kmuehlbauer commented on #68
Time to find a solution to this issue.

[code]

So, at least for the legacy API we should try to conform to netCDF4. This will not help https://github.com/pydata/xarray/issues/3680, but I do see no way to resolve this in another way (besides breaking conformity with `h5py`). Do you have any preferences, @shoyer?

[2021-03-03 09:59] #73 closed

[2021-03-03 10:04] kmuehlbauer commented on #80
@gerritholl I can't reproduce this with a fresh install. Could you please check again so that we might close this issue?

[2021-03-03 18:40] shoyer commented on #25
h5py can read file-like objects now, so I agree that there is less need for this.

[2021-03-03 18:40] shoyer commented on #25
That said, if pyfive ever does support dimension scales, we would still welcome adding it as a backend for h5netcdf.

[2021-03-03 18:45] shoyer commented on #86
Unfortunately I don't think HDF5 has any analogous data types to a Python dictionary.

You would need to use your own encoding convention of sort of some, e.g., perhaps saving the data as a JSON string. If you like, you could even put it in an opaque data type: https://docs.h5py.org/en/stable/special.html#storing-other-types-as-opaque-data.

The downside of these custom approaches is that the data

[2021-03-04 03:06] jjhelmus commented on #25
pyfive supports dimension scales and has for some time, jjhelmus/pyfive#14.

[2021-03-04 06:44] shoyer commented on #25
Very nice! In that case I'll reopen this in case someone would like to give it a shot. We're all about supporting pure Python implementations of file formats over here at h5netcdf :)

[2021-03-04 06:45] kmuehlbauer commented on #25
@shoyer  I wasn't clear with my question. What I wanted to ask is, should we try to implement `pyfive` as backend?

[2021-03-04 07:13] kmuehlbauer commented on #25
Your message was first shown after I sent mine. I can give it a try, but do not know if I can dedicate the time in the next months. So if someone is eager to dive into it, please go ahead.

[2021-03-04 07:14] shoyer commented on #25
Totally up to you! I think it could be an interesting mini-project, and
might even be useful for cases where it's hard to install HDF5.

On Wed, Mar 3, 2021 at 10:45 PM Kai Mühlbauer <notifications@github.com>
wrote:

[2021-03-04 07:17] kmuehlbauer commented on #25
This is like a phone call via a moon relay :grinning:

[2021-03-26 07:29] kmuehlbauer opened #88 "dimension processing performance when appending to file"
As reported by @aldanor in https://github.com/pydata/xarray/issues/2857 `h5netcdf` shows performance degradation when consecutively appending groups with datasets having dimensions.

The problem is that for every append the whole file/group/subgroup structure is traversed to find unassigned dimensions, create the missing dimension scales and attach it properly to the file.

A quick check commentin

[2021-03-26 10:50] kmuehlbauer commented on #88
- `_set_unassigned_dimension_ids` - iterates over all groups/subgroups to retrieve `max_dim_id` and set unassigned dimension id's (eg. newly created) with fitting id's
- `_create_dimension_scales` - iterates over all groups/subgroups and creates dimension scales, currently also re-creates already existing ones.
- `_attach_dim_scales` - iterates over variables in groups/subgroups and attaches dimen

[2021-03-26 11:09] kmuehlbauer commented on #86
I'm closing this as `wontfix`. Several approaches how to save python dictionaries hdf5 files have been proposed.

[2021-03-26 11:09] #86 closed

[2021-04-01 05:28] kmuehlbauer opened #89 "h5pyd testing"
In #87 re-adding of `h5pyd`-testing was discussed.

The two obvious possibilities are:

- an `h5pyd` endpoint controlled by https://github.com/h5netcdf/h5netcdf
- CI based `h5pyd`-serving while testing

[2021-04-13 16:16] paugier opened #90 "Improve FutureWarning: String decoding changed with h5py >= 3.0."
I get many warnings like this one:

[code]

It seems to me that this warning could be improved. I don't know what I should do with it and how I should modify my code.

1. I guess some users (as me) don't understand what are "vlen strings".
2. I don't know how and where I should change my code (the given line h5netcdf/core.py:765 is not useful for a user).
3. I get this warning with  h5py-3.2.1 and

[2021-04-13 16:39] kmuehlbauer commented on #90
@paugier Thanks for raising this. The warning message can indeed be a bit more clear.

Currently, `h5netcdf.File()` is invoked with `decode_vlen_strings=True`. If you want compatibility with h5py>=3.0 then you would need to invoke `h5netcdf.File` with kwarg `decode_vlen_strings=False`. This would also silence the warning. In a later version this will be the default behaviour, hence the warning.

[2021-04-14 06:01] kmuehlbauer commented on #90
@paugier Would this work better from user-perspective:

[code]

@shoyer How should we go about this? Would this fit into some 0.10.1 version?

[2021-04-14 07:07] shoyer commented on #90
Sure, if you submit a patch I can tag and upload to pypi. Or better yet I could add you as a maintainer on pypi :)

[2021-04-14 07:16] kmuehlbauer commented on #90
Sounds like a plan, my user is the same on pypi as here on github. Would be nice to completely automate releases. I'll open another issue for that.

[2021-04-14 07:23] kmuehlbauer opened #91 "Automate releases"
The release process has been a manual process in the past done by @shoyer. We could move to automate releases by facilitating GitHub Actions.

What need to be done:

1. Create a PYPI_API_TOKEN and add it to the h5netcdf github project secrets
2. Add a GitHub Actions workflow triggered by github release event which uploads to PyPI

Creating a release then just needs tagging a release on github.

[2021-04-14 07:31] kmuehlbauer commented on #91
Along that road we could try to incorporate https://github.com/h5netcdf/h5netcdf/issues/38 and create a separate changelog.rst. This could be treated like xarray's `whats-new.rst`, so that contributions get tracked in the PR process. This would also take burden from maintainers to manually track contributions.

[2021-04-16 08:57] paugier commented on #90
Thank you for your replies. I was wondering if it could make sense to provide an API to globally switch the behavior to what we'll get in future?

[2021-04-16 10:44] kmuehlbauer commented on #90
@paugier Do you think something along the lines of `set_options` (eg. in `xarray`) would work?

[2021-04-16 11:00] kmuehlbauer commented on #89
So after reading several resources on that I think I get the message of @ajelenak's [comment](https://github.com/h5netcdf/h5netcdf/pull/87#issuecomment-808260731): _This turned to be a pain the first time._

As we can't use `h5serv` due to lack of dimension scale support we would need to use `hsds`. Over at https://github.com/HDFGroup/h5pyd this is used via docker directly in the testsuite. A poss

[2021-04-16 14:08] ajelenak commented on #89
What a coincidence... Just yesterday I was in a meeting where the same approach you mentioned was recommended. I can try that approach in a couple of weeks.

[2021-04-16 14:36] kmuehlbauer commented on #89
@ajelenak That would be great.

[2021-04-16 17:13] rabernat opened #94 "Inconsistent attribute handling between netcdf4 and h5netcdf"
I have found a netCDF file that cannot be decoded by xarray via the h5netcdf engine but CAN be decoded via netCDF4.

This file will reproduce the bug
[code]

[code]

[code]

As we can see, we get an empty string `''` in netCDF4 but a `<class 'h5py._hl.base.Empty'>` object from h5netcdf. This weird attribute prevents xarray from decoding the dataset.

**Environment**:

<details><summary>Output of <

[2021-04-16 17:53] kmuehlbauer commented on #94
@rabernat Thanks for raising this.

Below is the h5dump of the attribute in question.

[code]
I do not immediately see how much will be involved to implement this conversion (`Empty()`->`''` and `''`-> `Empty()`).

Please find more context in https://github.com/h5py/h5py/issues/279 and a simple fix for the reading part in https://github.com/jupyterlab/jupyterlab-hdf5/pull/79.

[2021-04-18 10:23] kmuehlbauer commented on #94
@rabernat @shoyer

So, there seems to be an easy fix in the h5netcdf `Attributes` class:

[code]

This will return an empty `np.bytes` instead of `h5py.Empty()`. This is then correctly decoded in xarray's `h5netcdf` backend. Complete and transparent roundtripping of `h5py.Empty()` will need much more thought. The major problem is how to keep consistent with `h5py` and be in line with xarray in the

[2021-04-18 17:19] shoyer commented on #94
Ryan, do you know by chance how this netCDF file was made? Even the low level netCDF C interface requires providing attribute values when creating them, so I'm wondering if this might be better considered a corrupted netCFF file. Either way, it would be nice to support reading them as empty strings (and to raise an error about invalid netCFF files if a user tries to create such NULL attributes).

[2021-04-18 23:16] rabernat commented on #94
It was made by IPSL as part of their CMIP6 data request. That's all I know. Could dig further if it would help.

[2021-04-18 23:53] shoyer commented on #94
Interesting. It looks like netCDF-C uses this strategy for writing length 0 fixed-length character attributes (`NC_CHAR`):
https://github.com/Unidata/netcdf-c/blob/9bf69804a131b5430a02f7ff6b787e7f13fe93fa/libhdf5/nc4hdf.c#L481-L485

However, this logic is side-stepped by netCDF4-Python, which just writes a null byte `\x00` instead:
https://github.com/Unidata/netcdf4-python/blob/9dfa48dac5df90d2563

[2021-04-19 08:14] kmuehlbauer opened #96 "Collaboration Guidelines"
`h5netcdf` is not only a vital part of `xarray` backends but also widely used in data science packages [1].

As we've seen in the past month's changes in dependencies, new features, multiple bug fixes require maintainer/collaborator attention to the package. Currently there is not that much of a backlog, but this might increase in the future. As `h5netcdf` is a crucial part of workflows in my fiel

[2021-04-20 05:14] #38 closed

[2021-04-20 05:14] #91 closed

[2021-04-20 05:24] #90 closed

[2021-04-20 05:31] #94 closed

[2021-04-20 14:23] groutr opened #98 "Interrupting an h5netcdf process "corrupts" netCDF file"
If a process using h5netcdf is interrupted, the netCDF file becomes "corrupted". Subsequent reads by h5netcdf produce the following exception when the file is closed.
[code]
h5netcdf 0.11.0
h5py 3.1.0
hdf5 1.10.6

netCDF4 appears to be able to still open and close the file without issue.

[2021-04-20 14:37] groutr commented on #98
The essence of the code that produces this issue:
[code]

[2021-04-20 14:52] groutr commented on #98
This might be somewhat related (to the second part of this error).
https://github.com/h5netcdf/h5netcdf/issues/50

Note in this issue, I am using h5netcdf directly and not thru xarray.
The file I am reading is the output of an ADCIRC model.

[2021-04-20 15:08] groutr commented on #98
The reason that I'm using h5netcdf over netCDF4 is that with this particular ADCIRC output, netCDF4 is very slow accessing a column. Switching to h5netcdf cut my script's runtime from about 1.5hrs (estimated) to about 1min. It's a nice performance story for h5netcdf if I can figure out how to resolve this issue.

[2021-04-20 18:10] kmuehlbauer commented on #98
@groutr Thanks for raising this. I've run into this behaviour occasionally. You do not have a reproducible example (or file to download)? You are running this from a console via a python script or by other means (jupyter)?

[2021-04-22 17:31] groutr commented on #98
@kmuehlbauer, unfortunately, I don't think I'm able to share the sample file that I have. I'm running this via a python script executed from the console. This script is designed to run as a directly executed utility. It's essential function is pull data out from a designated set of columns (of a variable) and write the data to a CSV file. Nothing fancy happening here.
I can try testing this method

[2021-04-22 18:07] shoyer opened #100 "Switch using invalid netCDF features from a warning into an error?"
We added a warning when writing invalid netCDF files back in 2017:
https://github.com/h5netcdf/h5netcdf/pull/29

This was intended as an incremental step to preserve backwards compatibility. At this point, it would _probably_ be better to switch h5netcdf to raise an error in these cases instead. Or if we don't actually want to make that change, we should remove the note about the warning turning i

[2021-04-22 18:43] shoyer commented on #98
Does this occur even if you explicitly set `mode='r'` when opening the file? If so, something is very wrong here...

[2021-04-22 18:45] shoyer commented on #96
This sounds like a great plan to me! These would all be welcome improvements.

[2021-04-23 15:22] groutr commented on #98
@shoyer I only observed the behavior with `mode='a'` and that is what prompted #99.
There is no flush when `mode='r'` (https://github.com/h5netcdf/h5netcdf/blob/master/h5netcdf/core.py#L862)

[2021-04-23 15:55] kmuehlbauer commented on #98
This might be resolved by #101. Could you test that PR locally @groutr, and comment over there. I'm testing it myself, but can't find a workflow which breaks.

[2021-05-18 10:27] kmuehlbauer opened #106 "Creating variable colliding with dimension name breaks"
This breaks with latest master as well as with v 0.11.0. Reason is trying to detach dimension scale (`x`) from variable (`z`) which hasn't been attached yet. It would have been attached on flush/close.

[code]

[code]

[2021-06-08 06:48] kmuehlbauer opened #111 "_NCProperties isn't written when overwriting existing files"
When overwriting existing files (`mode="w"`) the `_NCProperties` don't get written.

[2021-06-08 07:11] #111 closed

[2021-06-09 06:40] #100 closed

[2021-06-09 09:55] kmuehlbauer commented on #106
resolved by #109

[2021-06-09 09:55] #106 closed

[2021-06-11 06:21] kmuehlbauer opened #113 "h5netcdf version 1.0"
As recently brought up by @shoyer in https://github.com/h5netcdf/h5netcdf/pull/110#pullrequestreview-679253913, `h5netcdf` is approaching version 1.0 release. With the recent developments (eg. phony_dimensions, dimension scale handling and many fixes) the overall alignment with `netcdf4-python` was greatly improved.

There are still some incongruences and incompatibilities between `h5netcdf` and `

[2021-09-08 20:31] jreadey commented on #89
HSDS/h5pyd now supports a direct access mode (see: https://github.com/HDFGroup/hsds/blob/master/docs/design/direct_access/direct_access.md) where h5pyd instantiates the hsds functionality as sub-processes.  This means no docker needed, no secure passwords, or tcp connections.  Should make it much easier for ci test enviroments.

[2021-09-08 20:36] kmuehlbauer commented on #89
@jreadey Thanks for that great news. Is this already used somewhere else, so that we might get some idea of usage?

[2021-09-08 20:48] jreadey commented on #89
It's beta level now, but should be solid enough for h5netcdf testing.  @ajelenak or I should be able to submit a PR soon with the needed changes.

[2021-10-12 13:45] alasdairwilson opened #115 "Some netcdf files give "OSError: Unable to open file (file signature not found)" when opened with h5netcdf"
Trying to open some GOES xrs datafiles (an example can be gotten from: https://satdat.ngdc.noaa.gov/sem/goes/data/avg/1999/01/goes10/netcdf/g10_xrs_1m_19990101_19990131.nc ) and get:

[code]

The same error is encountered using the legacyapi.

NetCDF4 is able to open the file with no issues.

[2021-10-29 15:07] #115 closed, assigned to nobody

[2021-11-02 11:01] dionhaefner opened #116 "Vlen strings in attributes are not decoded after applying NCO"
Example script:

[code]

Output:

[code]

In the changed file, `h5netcdf` doesn't decode the `foo` attribute anymore (`array(['bar'], dtype=object)`). NetCDF4 decodes everything.

NetCDF files: [ncfiles.zip](https://github.com/h5netcdf/h5netcdf/files/7460017/ncfiles.zip)

This is with most recent h5netcdf and h5py.

[2021-11-02 12:50] kmuehlbauer commented on #116
There is a difference in the underlying hdf-representation between those two files. The first has `SCALAR` DATASPACE whereas the second has `SIMPLE` (array). That's why an array is returned.

test.nc
[code]

test2.nc

[code]

One additional note: `decode_vlen_strings` has only effect when extracting Datasets (means Variables, not Attributes). For attributes this should give the same output regardl

[2021-11-02 13:02] dionhaefner commented on #116
I see. It's a bit of a bummer since the modified file loads just fine with netCDF4, so you get counter-intuitive behavior downstream:

[code]

[2021-11-02 13:50] kmuehlbauer commented on #116
A possible solution on the `h5netcdf` side would be to check if the array is of length 1 subset that one element. But I'm not really sure, if this would be the correct place to handle this issue.

[2021-11-03 13:21] dionhaefner commented on #116
That seems to be how netcdf-python does it:

https://github.com/Unidata/netcdf4-python/blob/5ed431ceb0e594bccabe625e8782381e79b284de/src/netCDF4/_netCDF4.pyx#L1503-L1508

[2021-12-21 12:52] kmuehlbauer commented on #50
@floriankrb I can't reproduce this with `h5netcdf` version `0.12.0`. If you still encounter this issue, please provide a minimal working example showing this behaviour. We can reopen then. Thanks.

[2021-12-21 12:52] #50 closed

[2021-12-22 09:07] #88 closed

[2021-12-22 17:26] ajelenak opened #122 "Why LZF compression in one test?"
Is there any particular reason to use LZF compression in this test:

https://github.com/h5netcdf/h5netcdf/blob/master/h5netcdf/tests/test_h5netcdf.py#L839-L851

Would something like gzip work as well?

[2021-12-22 17:50] kmuehlbauer commented on #122
@ajelenak I do not see an immediate need that it has to be LZF. The best I can estimate from @shoyer's comment in the according commit is, that it used to be "an arbitrary" compressor. Back from the times where those were not implemented in netcdf.

[2021-12-22 17:54] shoyer commented on #122
This is just a test for features that h5netcdf supports but not the official netcdf-C library, which require an explicit opt-in. If netcdf-C supports lzf now, we should no longer consider files using it on be "invalid netcdf files".

[2021-12-22 17:55] shoyer commented on #122
In the context of alternative h5py implementations like h5pyd, there's no need for testing this. It's just something that happens to be supported by h5py.

[2021-12-22 18:19] ajelenak commented on #122
Yes, that's why I was asking. h5pyd (more accurately, HDF Highly Scalable Data Service) does not currently have LZF compression. Thanks @kmuehlbauer, @shoyer for quickly replying.

[2021-12-22 18:19] #122 closed

[2021-12-23 07:11] kmuehlbauer commented on #96
@shoyer I've added a section to the wiki `Contribution Guidelines`. These reflect my opinion. I'm very much open for changes and additions.

[2021-12-23 14:03] kmuehlbauer commented on #52
@dionhaefner Coming back to this while working on #103.

In #103 I'm implementing resize dimensions on write (netcdf4-python behavior) for legacy API. With this branch and some small changes (increase dimension size before variable creation, see below) this works quite well without heuristics. Not sure if we can get more out of this, though.

Any comments appreciated.

[code]

[code]

[2021-12-23 14:06] kmuehlbauer commented on #15
@glenfletcher 5+ years is a long time, but maybe you are still looking for that feature. It's approaching in #124.

[2021-12-23 14:07] kmuehlbauer commented on #23
@laliberte 5+ years is a long time, but maybe you are still looking for that feature getting implemented. It's approaching in #125.

[2021-12-23 14:15] kmuehlbauer commented on #52
I think everything depends on the dimension size already increased. But when the dataset is created with a zero-length (unlimited) dimension than this doesn't work at the moment.

So it would be the users responsibility to think about the order of creation to not end up with exploding filesizes.

[2021-12-23 14:19] dionhaefner commented on #52
If you're interested in replicating the NetCDF heuristic I could probably contribute that soon. WDYT?

[2021-12-23 14:22] kmuehlbauer commented on #52
That would be great. I'm currently working towards `h5netcdf 1.0`. See #113, this issue is already listed there ;-)

[2021-12-23 15:56] dionhaefner commented on #113
No love for #116? :cry:

[2021-12-23 15:56] dionhaefner commented on #52
Sounds good. I'll look into it after Christmas, then.

[2021-12-23 15:58] kmuehlbauer commented on #113
@dionhaefner I'll put it on the list.

[2022-01-03 09:10] floriankrb commented on #50
I don't have the original file anymore and I cannot reproduce either.

Thank you for closing this issue.

[2022-01-09 13:29] hmaarrfk opened #128 "Files written by h5netcdf cannot be edited by netcdf4-python"
#### What happened:

Files written by h5netcdf cannot be edited by netcdf4-python. It would be good if they could be. I believe the following patch is needed. Would you like me to make the Pull Request?

#### What you expected to happen:

#### MCVE Code Sample

[code]
[code]

#### Expected Output
That it works.

#### Version

<details><summary>Output of <tt>print(h5py.version.info, f"\nh5netcdf {h

[2022-01-09 14:38] kmuehlbauer commented on #128
@hmaarrfk Thanks for investigating and reporting this issue.

Could you please add the netcdf-c and netcdf-python versions, so we are on the same page for testing this. Do you happen to know, if this is a regression in 0.12.0?

Using `track_order=True` changes the iter behaviour from alphanumeric to creation order. I'm wondering if this is some speciality xarray is relying on and some subtle chang

[2022-01-09 15:27] hmaarrfk commented on #128
This is the line in particular that is causing things to fail:

https://github.com/Unidata/netcdf-c/blob/988e771a9ed99619c2e3261aea81f127dd7fa3d8/libhdf5/hdf5open.c#L2797

[2022-01-09 15:29] hmaarrfk commented on #128
git blame shows that this was true for at least 3 years.

Even then, the last change was for a massive cleanup.

[2022-01-09 15:35] hmaarrfk commented on #128
[code]

[2022-01-09 15:39] hmaarrfk commented on #128
I'm sorry I provided an example with xarray. I knew I should have done one with h5netcdf bare without the added dependency.

Here is the minimum reproducible example:

[code]

[code]

[2022-01-09 15:52] hmaarrfk commented on #128
I also confirmed that this is also the case for `h5netcdf` version `0.11.0`

[2022-01-09 16:12] hmaarrfk commented on #128
The netcdf4 standard requires that the creation order be maintained. They also specify that the file has to be created with creation order specified. Therefore, I think this should be considered a bug within `h5netcdf`.

![image](https://user-images.githubusercontent.com/90008/148690596-21b708be-a3a4-4dc0-8c9c-710c95002d33.png)
https://docs.unidata.ucar.edu/netcdf-c/current/file_format_specificati

[2022-01-09 16:25] hmaarrfk commented on #128
From `h5py` source
https://github.com/h5py/h5py/blob/aa31f03bef99e5807d1d6381e36233325d944279/h5py/_hl/group.py#L65
![image](https://user-images.githubusercontent.com/90008/148691082-da8f92e4-03a9-4e06-a180-cc09a7dce963.png)

I think my original patch missed to add the `track_order=True` keyword argument to a few `create_dataset` calls, but I'm going to make a PR now that enforces all of this.

[2022-01-09 16:32] kmuehlbauer commented on #128
@hmaarrfk Could you please have a look at this discussion (netcdf-c):

https://github.com/Unidata/netcdf-c/issues/2054

It seems that it was tried to enable opening for append regardless of the tracking_order. But it did not find it's way into the latest release.

So this "feature" prevented files created using `h5netcdf` to be changed using netcdf-c/netcdf4-python. I'm wondering why this did not

[2022-01-09 16:37] kmuehlbauer commented on #128
@hmaarrfk Sorry, missed to explicitely welcome a PR. Yes, please!

[2022-01-09 16:39] hmaarrfk commented on #128
How would you like the deprecation cycle to go? Do you want to have a parameter that enables `track_order` to be set?

Before I go off and hack, do you have a suite of regression tests that ensure that you can still open old files?

[2022-01-09 16:53] kmuehlbauer commented on #128
@hmaarrfk A first test writing with `track_order=False` and reading with `track_order=True` gives no problems. It looks like `h5netcdf` is track_order agnostic somehow.

It would be good to parameterize it, with default to `track_order=True`. Not sure if we need a deprecation cycle if this has no effects. The only effect I can think of is that some objects are repr'd in another order. But if this

[2022-01-09 17:31] hmaarrfk commented on #128
Let me know if you think anything is missing from
https://github.com/h5netcdf/h5netcdf/pull/129

Happy to hold off on any discussion there while we wait for shoyer to chime in here.

[2022-01-09 20:44] hmaarrfk commented on #128
To summarize the issue you pointed to:

netCDF4 wants the track_order parameter of the h5py constructors to be true
though this might be getting relaxed in a more recent version of the standard, it seems like it is a little far away for now.

[2022-01-10 03:02] shoyer commented on #128
Why would an h5netcdf want to write a file without tracking order?

If we can't come up with a use-case, then we should treat this as a bug and just fix it.

[2022-01-10 03:52] hmaarrfk commented on #128
The issue cross referenced comes up with one
https://github.com/Unidata/netcdf-c/issues/2054

It seems that netcdf is considering updating their stance. However, I fear that the issue will only pop up in multi-threaded workloads.

I don't think it is possible to start tracking within a group if it was disabled at the start.
The suggested patch enables compatibility with older datasets (tracking wi

[2022-01-10 04:17] shoyer commented on #128
This seems like the right fix then. I'm mostly just questioning whether we need the new keyword argument, or if it would be better to always turn it on.

[2022-01-10 04:31] hmaarrfk commented on #128
We could remove the keyword argument if you prefer. It would be trivial to add back in the future.

[2022-01-10 04:53] shoyer commented on #128
Yeah, I don't see a reason to add it, if it's required for writing files there work with netcdf-C

[2022-01-10 06:33] kmuehlbauer commented on #128
Thanks @shoyer, @hmaarrfk, that looks like a way forward.

I'd suggest then to not only remove `track_order` as new positional keyword argument, but go one step further. We should test if it is fed via `**kwargs` (which users might do) and raise an informative error if `track_order=False`. This can later be relaxed to align with new developments in netcdf-c/netcdf4-python.

[2022-01-10 07:01] hmaarrfk opened #130 "Monitor netCDF4 requirements for track_order"
In https://github.com/h5netcdf/h5netcdf/issues/128 an issue was raised that in the current netCDF4-c library, `track_order=True` must be set to true.

We should monitor progress on https://github.com/Unidata/netcdf-c/issues/2054 to relax this requirements when this is no longer the case.

[2022-01-11 06:45] kmuehlbauer commented on #128
@hmaarrfk see #131. Closing this as resolved. Thanks!

[2022-01-11 06:45] #128 closed

[2022-01-11 09:25] hmaarrfk opened #132 "decode_vlen_strings?? What are the advantages or disadvantages"
https://github.com/h5netcdf/h5netcdf/blob/5196bc044c10549462bfa9634b0e4147eaeee4dd/h5netcdf/core.py#L937

The warnings reads:

The warning is rather unclear about what it means for the end user application?

I read through: https://github.com/h5netcdf/h5netcdf/issues/81 but I'm still a little confused.

Will my data be changed? Will I stop being able to read old data? Will new data be corrupt if i

[2022-01-11 09:56] kmuehlbauer commented on #132
Bottom line:

`decode_vlen_strings = True` -> vlen strings are read as `str`
`decode_vlen_strings = False` -> vlen strings are read as `bytes`

[2022-01-11 10:05] hmaarrfk commented on #132
Thank you very much for the fast response.

Maybe I am interpreting things badly, but
[code]

The output seems the same

[code]

[2022-01-11 10:09] hmaarrfk commented on #132
Sorry for the previous post. I had a hacked version of `h5netcdf` when creating it.

The example is clear:

[code]
[code]

[2022-01-11 10:14] kmuehlbauer commented on #132
The output:

[code]

[2022-01-11 10:15] hmaarrfk commented on #132
Ah sorry, I didn't copy it.

[2022-01-11 10:19] hmaarrfk commented on #132
Thank you! So now the question is:
what should xarray do to silence this warning ;)

[2022-01-11 10:25] kmuehlbauer commented on #132
Good question. xarray is creating a new file or overwriting variables in an existing file with `to_netcdf`. It can just forward that keyword when writing files, but that seems like a hack.

[2022-01-11 10:28] hmaarrfk commented on #132
I think the warning was being issued from my library (i'm appending to a netcdf file, but not entirely ready to make a PR to xarray with that feature)

Thank you again for the huge amount of context you provided.

[2022-01-11 10:37] #132 closed

[2022-01-12 06:54] kmuehlbauer commented on #128
@hmaarrfk `h5netcdf 0.13.0` with the fix is out on PyPI.

[2022-01-12 08:05] hmaarrfk commented on #128
awesome!

[2022-01-12 09:06] kmuehlbauer commented on #15
Closed via #124

[2022-01-12 09:06] #15 closed

[2022-01-12 11:23] kmuehlbauer opened #134 "Implement Dimension-class"
#### Is your feature request related to a problem? Please describe.

Currently handling of dimensions in `h5netcdf` is cluttered over different `ChainMap`, which is sometimes hard to follow. That makes it hard to implement features (eg. `isunlimited()`) or just to nicely retrieve information from a single object.

#### Describe the solution you'd like

A `Dimension`-class which wraps around the un

[2022-01-12 11:39] kmuehlbauer commented on #36
A implementation of a Dimension-object is suggested in #134 and a WIP-PR is available #135 too.

[2022-01-12 11:39] kmuehlbauer commented on #68
resolved in #126

[2022-01-12 11:39] #68 closed

[2022-01-12 11:43] kmuehlbauer commented on #116
I'm wondering if we should not put this under the `decode_vlen_strings` umbrella and do the decoding depending on the keyword? @shoyer Thoughts?

[2022-01-12 15:11] kmuehlbauer commented on #116
I've tampered with this a bit more. Here are two different issues, which at first I did not pull apart correctly.

`array(['bar'], dtype=object)` does not mean it is encoded (representing some `bytes`) but just a string array. The other thing is that the other attributes (history/NCO) are really not decoded.

I still think this solvable.

[2022-01-12 17:45] #130 closed

[2022-01-12 18:30] hmaarrfk commented on #130
Thanks!

[2022-01-14 09:19] #23 closed

[2022-01-14 11:08] paugier opened #136 "Regression: KeyError in h5py with h5netcdf 0.13.0"
The CI of fluidsim was broken by the release of h5netcdf 0.13.0. I get a lot of `KeyError: 'Unable to delete attribute (record is not in B-tree)'` with tracebacks looking like

[code]

By pinning h5netcdf to 0.12.0, the CI is green again.

Any idea of what can cause this issue ?

[2022-01-14 13:27] kmuehlbauer commented on #136
Either the new track_order feature or a regression of the dimension scale refactor. Can you narrow down the issue?

[2022-01-14 13:33] kmuehlbauer commented on #136
@paugier Can you try to open the files with keyword `track_feature=False` and look, if the error goes away?

[2022-01-14 13:39] kmuehlbauer commented on #136
@paugier Reading this https://github.com/h5py/h5py/issues/1385 it's a `track_order` issue.

[2022-01-14 13:42] kmuehlbauer commented on #136
@hmaarrfk Any ideas?

[2022-01-14 15:35] kmuehlbauer commented on #136
@paugier One final request, providing a minimal example would greatly help to narrow down the issue. I couldn't reproduce this so far.

[2022-01-14 21:22] hmaarrfk commented on #136
Hmm, ok. I just read through the log of the provided error.

My guess is that the test is using an h5 file that was created with 0.12.0 or earlier with `track_order` was implicitely set to `False`.

Then in `0.13.0` we are setting `track_order` to `True`. However, it was my intention to keep the same behavior for old files. If track order WAS `True`, then it should continue to be `True`, however,

[2022-01-14 22:32] paugier commented on #136
Good news, I can easily reproduce locally with the most recent versions of h5py (3.6.0) and h5netcdf (0.13.0).

There is no file created with older versions of these packages.

The error happens for example in this line https://foss.heptapod.net/fluiddyn/fluidsim/-/blob/branch/default/fluidsim/util/output.py#L121 for the (simplest) case for which `mpi.nb_proc == 1` and `not cfg_h5py.mpi`. Basicall

[2022-01-16 07:44] kmuehlbauer commented on #98
@groutr That should be resolved by now. We can reopen otherwise.

[2022-01-16 07:44] #98 closed

[2022-01-18 12:41] dionhaefner opened #138 "Internal state modified after catching exception in _create_child_variable"
Example script:

[code]

Output:

[code]

The problem is that this line occurs before checking for `bool` dtype:

https://github.com/h5netcdf/h5netcdf/blob/e859ae5e65227a158b8dafdefed459a63a8ab3e0/h5netcdf/core.py#L629

Ideally we would make sure that no internal state is modified until all parsing is done successfully.

[2022-01-18 12:52] kmuehlbauer commented on #138
Thanks for raising this. I've thought about that recently, as this annoyingly has also other side-effects.

If you take the following example:

[code]

It creates the dimension on that line above. But it has to delete it afterwards, since it has to be created from scratch as further down.

[2022-01-18 12:59] kmuehlbauer commented on #138
Let's assume this a bug, so we need to fix it.

[2022-01-19 08:41] kmuehlbauer commented on #5
@mangecoeur Time has come where a dedicated dimension class brings additional functionality. Please use #134 and #135 for discussion. Thanks.

[2022-01-19 11:32] dionhaefner commented on #52
Fixed with new chunking heuristic: `create_variable(..., chunks="h5netcdf")`

[code]

[2022-01-19 11:32] #52 closed

[2022-01-20 07:03] kmuehlbauer commented on #138
There is a fix for the above described problem available in #135, but this doesn't fix the main cause described in https://github.com/h5netcdf/h5netcdf/pull/135#discussion_r788168586.

Function `_create_child_variable` needs to be armored against errors raised by underlying `h5py/hdf5` to not leave a inconsistent state:

https://github.com/h5netcdf/h5netcdf/blob/45073d29668a08bda133462e406c4c0f6d6

[2022-01-20 11:27] paugier commented on #136
I finally manage to find time to produce this minimal example.

[code]

Here, it gives
[code]

[2022-01-20 12:06] kmuehlbauer commented on #136
@paugier Great, thanks!

That's the `track_order` issue, see here: https://github.com/h5py/h5py/issues/1385. Obviously something is broken with `track_order` in `h5py` so that you only have access to the first 7 created attributes. Accessing the 8th will break. So if you select `h` it will work, but `i`, `j` and `a` will break for `bar` and `h`, `i` and `j` will break for `foo`.

It doesn't look l

[2022-01-20 12:37] paugier commented on #136
I confirm. Simpler reproducer (error for `i = 8`):

[code]

[2022-01-20 12:57] hmaarrfk commented on #136
eek. not so sure what the best way forward is. seems rather annoying and serious. maybe we should expose the parameter again and leave the default as false.

thanks for helping us work through the bugs here

[2022-01-20 13:18] hmaarrfk commented on #136
@kmuehlbauer I think we should definitely remove the error on `track_order=False` as a keyword argument.

The next question is if we should change the default value back to the 0.12.0 one due to this long standing buy (2years +)

[2022-01-20 13:24] kmuehlbauer commented on #136
@hmaarrfk That's a pity, really. The only other way would be to fix this via `h5py` low level object creation.

I agree that we should remove the error. And probably switch default again for the new API, we should keep `track_order=True` for the legacy API.

I'm not sure, if I can get this in before the weekend. But we would need to to fix in master , to create a 0.13-release branch, cherry-pick a

[2022-01-20 13:26] kmuehlbauer commented on #136
Would be best to be consistent, so switching back to `track_order=False` seems the best solution for the current situation.

[2022-01-20 13:35] hmaarrfk commented on #136
If you can create the branch, I can cherry-pick. I'm interested enough, for performance reasons to move to an h5py backend, and I am making the changes as we speak.

[2022-01-20 13:37] hmaarrfk commented on #136
Wow, lots of exciting stuff has been merged last week. Should we just make a version 0.14.0 instead?

[2022-01-20 13:40] kmuehlbauer commented on #136
Let's fix this one as 0.13.1. There is #135 which gets merged in the next days and will be finally 0.14.0 (which will be released not shortly too).

[2022-01-20 13:53] kmuehlbauer commented on #136
@hmaarrfk I've created https://github.com/h5netcdf/h5netcdf/tree/release-0.13

[2022-01-20 14:35] #136 closed

[2022-01-20 14:59] kmuehlbauer commented on #136
@hmaarrfk Would you mind adding the readme note to master too?

[2022-01-20 15:17] kmuehlbauer commented on #136
@hmaarrfk @paugier h5netcdf 0.13.1 has been released on PyPI. Thanks!

[2022-01-21 13:28] hmaarrfk opened #143 "Tracking issue for upstream order_tracking bug"
xref: https://github.com/h5py/h5py/issues/1385

It does somewhat seem like it is a bug in hdf5. I wonder if we can recreate it in netcdf4 and get them involved too!

[2022-01-21 15:38] paugier commented on #136
Oh I forgot to say thank you @hmaarrfk and @kmuehlbauer for your work on this issue and on h5netcdf in general! It's really a very useful and nice package.

[2022-01-22 14:40] kmuehlbauer commented on #143
I've come up with a workaround which also has the nice advantage to be a bit more performant when creating millions of attributes ;-)

https://github.com/h5py/h5py/pull/2042

FYI: @paugier

[2022-01-23 14:19] kmuehlbauer commented on #143
I've tested that patch a bit. So the `track_order` problem is avoided then.

But a major pain point is, that every change of an attribute would delete and recreate it. With `track_order=True` this would move the changed attribute to the back of the list.

I think we need to fix this either in `h5py` (allowing to `modify` existing attributes with same dtype) or in `h5netcdf`. It seems, that netCDF4

[2022-01-23 14:23] hmaarrfk commented on #143
Does netCDF4 suffer from the same issue? or no because they don't rename variable like h5py does?

[2022-01-23 14:41] kmuehlbauer commented on #143
Yes, netCDF4 suffers from the same issue. At least first tests suggest this.

[2022-01-23 14:46] kmuehlbauer commented on #143
[code]

[code]

[2022-01-23 14:49] kmuehlbauer commented on #143
@hmaarrfk So, only if the data type is the same, netCDF4 just modifies the entry. `h5py` recreates in any case atm. So we would need to fix either in `h5py` or `h5netcdf`.

But I'm wondering why `test9` is listed after `test1` although it has been changed the other way round.

[2022-01-23 14:59] kmuehlbauer commented on #143
Further tests indicate, that this might be connected with [attr_phase_change](https://api.h5py.org/h5p.html?highlight=phase_change#h5py.h5p.PropOCID.set_attr_phase_change) setting.

It looks like attributes in compact storage are somehow handled differently from attributes in dense storage.

[2022-01-24 09:17] kmuehlbauer commented on #134
resolved with #135

[2022-01-24 09:17] #134 closed

[2022-01-24 10:22] kmuehlbauer commented on #48
Closing this, as h5pyd-tests are currently skipped anyway. Issue #89 is tracking this now.

[2022-01-24 10:22] #48 closed

[2022-01-24 10:22] kmuehlbauer commented on #36
resolved by #135

[2022-01-24 10:23] #36 closed

[2022-01-25 18:50] hmaarrfk opened #144 "h5nccopy"
netcdf4 has a copy functionality that allows you to rechunk your data.

I had to use it recently.

It may be advantageous to recreate the functionality with h5netcdf. Here is the help info from nccopy to see what we can do to replicate the functionality:

[code]

[2022-01-25 20:51] kmuehlbauer commented on #143
`netcdf-c` deletes the attribute in the hdf5 file (`H5Adelete`) when renaming. It keeps the renamed attribute in internal netcdf-c cache, so it get's written to the file in consequence. The data will be written most likely before the objects go out of scope or on file close/flush.

https://github.com/Unidata/netcdf-c/blob/e7e2f40188a35011feb25a13b4a129b495a28043/libhdf5/hdf5attr.c#L153-L245

Simil

[2022-01-26 07:37] kmuehlbauer commented on #144
@hmaarrfk Thanks, that would be a nice enhancement. I would not restrict this to `h5nccopy` as other tools might be of interest too:

- `ncdump` (netcdf-c)
- `nc-info` (netcdf4-python)

From my point of view there are two things to discuss.

First, I'm a little worried with the naming because

- `h5copy` (hdf5-tools, `C`)
- `nccopy` (netcdf-c, `C`)
- `h5nccopy` (h5netcdf, `Python`)

can probably l

[2022-01-26 15:12] hmaarrfk commented on #144
performance is actually why I want to move away from netcdf4 c tools. They don't expose the direct backend, which, if used correctly, can give huge performance improvements for large datasets. patching h5py is much easier, and faster to test. though im also working with netcdf4 to get the prerequisites ready in netcdf4 as well.

[2022-01-26 15:13] hmaarrfk commented on #144
most of the functionality I'm looking for is rechunking. The rest is somewhat wishful thinking and likely optional.

[2022-01-27 06:02] kmuehlbauer opened #145 "Rename master -> main"
It's time to make the move `master` -> `main`.

[2022-01-27 06:03] kmuehlbauer commented on #145
Please update your forks, if necessary:

[code]

[2022-01-27 06:04] kmuehlbauer commented on #145
[x] Done

I'll leave this open for another couple of days, just in case someone stumbles over it.

[2022-01-27 13:19] kmuehlbauer opened #147 "Chunksize FutureWarning cannot be silenced without affecting "chunks""
#### What happened:

While fixing h5netcdf-changes over in xarray https://github.com/pydata/xarray/pull/6200 I found that those FutureWarnings cannot be silenced keeping current behavior.

- `chunks=None` -> `chunks=None` with `FutureWarning`
- `chunks="h5py"` -> `chunks=True`
- `chunks="h5netcdf"` -> `chunks=_get_default_chunksizes`

#### What you expected to happen:

Silencing the `FutureWarning

[2022-01-27 13:59] kmuehlbauer opened #149 "Inconsistencies with new chunking heuristics"
#### What happened:

While trying to adapt to the changes here over at xarray I found some inconsistencies in the behavior.

So I was assuming that the unlimited dimension is always created with chunksize of 1 in the below circumstances.

#### What you expected to happen:

`h5netcdf` heuristics should give chunksize of `1` in the below example.

#### MCVE Code Sample

[code]

[code]

#### Expected

[2022-01-27 13:59] kmuehlbauer commented on #149
@dionhaefner Could you please clarify, if this is wanted behavior? Thanks.

[2022-01-27 16:07] dionhaefner commented on #149
The unlimited dimensions only collapse to 1 if the other dimensions are bigger, to avoid excessively small chunks. For example, in the trivial case where `shape=(None,)` you get `chunks=(1024,)`. So this part is working correctly.

Now this part is inconsistent. It seems like `h5py` uses the *current* shape to determine chunks, not the *maximum* shape. And only if the current shape is unset it use

[2022-01-27 16:38] kmuehlbauer commented on #149
Yes, I think this will probably help users to adapt to the new heuristics without too much differences. It would be great if you could also add your suggestion from #147 then.

[2022-01-28 11:38] dionhaefner commented on #147
Actually I'm not quite sure whether we want to do `chunks="h5py"` -> `chunks=None`. The way I see it the proper migration is this:

[code]

The distinction between `chunks="h5py"` and `chunks="h5netcdf"` is only relevant if unlimited dimensions are present. In this case, chunking is mandatory anyway. So the question boils down to: what do we want this to do?

[code]

I think the path of least conf

[2022-01-28 13:19] kmuehlbauer commented on #147
@dionhaefner I appreciate this comprehensive representation of the different possibilities. I mostly agree and I think your outlined solution might be the way to go. But do you have a solution at hand for those users, who do not want to use the new default chunking after we switch to it?

[2022-01-28 13:25] dionhaefner commented on #147
That's essentially my last code snippet, which boils down to

1. If your variable has unlimited dimensions, use `chunks=h5py`.
2. If not, just keep using what you are using now.

This recipe should work in all cases to keep the current behavior.

For the record, I also like your suggestion of a `chunking_heuristic` keyword that would side-step these subtleties, and that could go through a similar

[2022-01-28 15:03] kmuehlbauer commented on #147
Thanks! Let's reconvene early next week for a decision.

[2022-01-30 12:28] kmuehlbauer commented on #147
I the light of upcoming `h5netcdf v1.0` our solution should be bullet proof to be sustainable over the lifetime of `v1.0`.

As we've seen handling those subtleties can be quite challenging and it might lead into a dead-end at some point in time. There is another solution which should at least be considered, an options-object. Several Python packages are using config/options one way or the other an

[2022-01-31 10:25] dionhaefner commented on #147
I think global options make sense (and I use them in a lot of projects), but IMO it's a bit awkward if you only have 1 option to set :)

If you have several things in mind that would make sense to access through it, sure, go for it. Otherwise I think it's still good design to use the `chunk_heuristic` keyword, and add that to a global options object later if there is demand for one. I don't think

[2022-01-31 10:26] dionhaefner commented on #147
And in terms of bullet proofness, I agree. So we probably *should* implement that `chunk_heuristic` keyword, and not overload `chunks`. But whether or not that can also be set through an options object is a separate discussion, isn't it?

[2022-01-31 10:31] kmuehlbauer commented on #147
Yes, it would be very difficult handling an overloaded `chunks` keyword.

Yes, we can separate that and move that in at any later point.

[2022-01-31 10:31] kmuehlbauer commented on #147
Sorry, fat fingers...

[2022-01-31 10:32] dionhaefner commented on #147
Do you want me to do that in #150 or will you do it in #148?

[2022-01-31 10:53] kmuehlbauer commented on #147
I can do it tomorrow in #148. If you have additional cycles to do it in #150, please go ahead. Thanks.

[2022-02-01 09:29] kmuehlbauer commented on #145
No issues with the switch so far...

[2022-02-01 09:29] #145 closed

[2022-02-01 14:27] kmuehlbauer commented on #116
Just to not forget about this:

The following snippet writes either netcdf4-style NULLTERM or h5py-style NULLPAD fixed sized string attributes (only which translates to ascii). So if we apply this (eg. at the `legacyapi`), we could mimic netcdf4 fixed size attributes. We would need to correctly decode when reading.

- NULLTERM - `term=h5py.h5t.STR_NULLTERM` (default in this case)
- NULLPAD - `term

[2022-02-01 14:51] kmuehlbauer commented on #149
Resolved by #150

[2022-02-01 14:52] #149 closed

[2022-02-01 14:52] kmuehlbauer commented on #147
Resolved with #150

[2022-02-01 14:52] #147 closed

[2022-02-01 20:23] dionhaefner commented on #116
What a hot mess. Sorry for dragging you into that 😄

IIUC there are 2 separate issues: inconsistent writing, and inconsistent decoding. I think the writing one depends on the NetCDF4 spec: does it specify whether string attributes should have a `SIMPLE` dataspace, or is that an implementation detail? In the latter case I think it would be OK to ignore the writing inconsistency (as long as the outp

[2022-02-03 06:21] kmuehlbauer commented on #116
Given that comment from @DennisHeimbigner https://github.com/Unidata/netcdf-c/issues/127#issuecomment-292625916, netcdf4 treats attributes as vectors of values, even if only one element. That means they should have SIMPLE dataspace.

Yes, I think that assupmption is correct.

[2022-02-04 08:29] kmuehlbauer commented on #37
Update: https://github.com/h5py/h5py/issues/941#issuecomment-1029756453

[2022-02-05 17:25] kmuehlbauer commented on #37
Good news -> Possible fix in https://github.com/h5py/h5py/pull/2044

[2022-02-08 07:56] kmuehlbauer opened #152 "legacyapi vs new api features"
In #151 the discussion came up on the differences between `legacyapi` and `new api`.

@dionhaefner https://github.com/h5netcdf/h5netcdf/pull/151#issuecomment-1031279406

@shoyer https://github.com/h5netcdf/h5netcdf/pull/151#issuecomment-1031755978

[2022-02-08 08:17] kmuehlbauer commented on #152
IIUC `h5netcdf` should be as close to `netcdf4-python/netcdf-c` as `h5py` allows in normal operation but can divert from that if `invalid_netcdf=True`.

Two things should be consensus:

- `h5netcdf` should read all kinds of `netcdf4` files
- `h5netcdf` should create `netcdf4` files which can be read by any software which is able to consume netcdf4 files

For the reading part the difficulties are w

[2022-02-15 06:46] kmuehlbauer commented on #116
Resolved by #151 for the reading part. Writing attributes with SIMPLE dataspace vs. SCALAR dataspace is not yet decided, as `netcdf-c`/`netcdf4-python` can read it out of the box.

[2022-02-15 06:46] #116 closed

[2022-02-25 11:05] kmuehlbauer commented on #113
@shoyer I took the chance to release 0.14.0 with the recent changes, to have it into the wild before getting to 1.0. The API/documentation is the last point on this list for version 1.0. The due date is still end of March which should work.

[2022-02-28 11:59] jenshnielsen opened #154 "Reading empty list attribuetes written with netcdf4 broken in 0.14.0"
#### What happened:

Trying to load a xarray dataarray or dataset written to netcdf containing an empty list attribute
retults in an error if written using netcdf4. This used to work fine with 0.13.1 and earlier.
This is likely due to the changes in https://github.com/h5netcdf/h5netcdf/pull/153/files since
the empty output is no longer wrappen in an np.atleast1d before getting the lenght of it.

#

[2022-03-01 06:31] kmuehlbauer commented on #154
@jenshnielsen Thanks for reporting that regression. Unfortunately `np.atleast_1d` can't be utilized here due to other problems with string types. We will need to directly check for `Empty` types.

[2022-03-01 07:31] kmuehlbauer commented on #154
@jenshnielsen I'd appreciate if you could have a look into #155 which should fix this issue. I'd merge this by tomorrow and do a release right away.

Non-string `Empty` types will be returned as empty numpy.ndarray, which is what `netCDF4-python` does. Your xarray example works with that fix and also the following:

[code]

output
[code]

[2022-03-01 08:27] jenshnielsen commented on #154
@kmuehlbauer Thanks for the quick response I will have a look at #155

[2022-03-02 12:22] kmuehlbauer commented on #154
@jenshnielsen `h5netcdf 0.14.1` is released and available on PyPI and conda-forge.

[2022-03-02 12:22] #154 closed

[2022-03-06 19:57] drew-parsons opened #156 "setuptools_scm replaces version with local git reference"
#### What happened:

Trying to build h5netcdf 0.14.1 from source extracted from the h5netcdf pypi source tarball, but stored locally in a git repo, the version file gets corrupted to a random reference derived from my local git repo.

The file corruption is triggered when running the clean rule with setup.py. It must be a consequence of the setuptools_scm change to setup.py introduced in PR #146

[2022-03-06 22:07] drew-parsons commented on #156
It's the `tool.setuptools_scm` entry in pyproject.toml that's causing the version file corruption.

[2022-03-07 06:38] kmuehlbauer commented on #156
@drew-parsons Thanks for bringing this to attention. I'll have a look into this. If you have any idea how to resolve this, please let us know.

[2022-03-07 08:47] kmuehlbauer commented on #156
From all what I could gather in short time, the suggestion of setuptools_scm devs is to use environment variable `SETUPTOOLS_SCM_PRETEND_VERSION` end provide the wanted version there during the build. That was especially recommended for debian-packaging, see https://github.com/pypa/setuptools_scm/issues/361.

This works flawless locally:

[code]

[2022-03-07 09:26] kmuehlbauer commented on #156
XRef: https://www.mail-archive.com/python-modules-team@lists.alioth.debian.org/msg31355.html

[2022-03-07 11:15] drew-parsons commented on #156
Thanks for checking on it.  I'll look into what our build tools are doing with SETUPTOOLS_SCM_PRETEND_VERSION

[2022-03-07 18:39] cisaacstern opened #157 "Opening certain NetCDFs raises `OSError: Unable to open file (file signature not found)`"
#### What happened:

When `h5netcdf` as used as an xarray backend to open certain NetCDFs, the call to `xr.open_dataset` errors with `OSError: Unable to open file (file signature not found)`

<details>
<summary>Full Traceback</summary>

[code]

</details>

#### What you expected to happen:

Based on experience successfully opening other NetCDF files with the `"h5netcdf"` backend, I expect these fi

[2022-03-07 19:04] cisaacstern commented on #157
Oops! Just realized this is a `NetCDF3` file, so outside the purview of `h5netcdf`.

For others who may find this issue in the future, `NetCDF3` files are openable with xarray using `engine="scipy"`.

[2022-03-07 19:04] #157 closed

[2022-03-07 19:12] kmuehlbauer commented on #157
Great this turned out to be an easy fix. Please do not hesitate to open issues if there is need to.

@cisaacstern, @rabernat

One thing though, there have been a substantial amount of fixes and enhancements to h5netcdf in the recent month's. It would be great if pangeo could give the latest version a try. Any comments on that are very much appreciated.

[2022-03-07 20:08] cisaacstern commented on #157
@kmuehlbauer thanks for this suggestion. I cannot speak for the Pangeo Project more broadly, but for the project I work on (https://pangeo-forge.org), I can provide a bit of context to our usage of a not-quite-cutting-edge `h5netcdf` version.

As a base environment for our user [sandbox](https://github.com/pangeo-forge/sandbox), we build from the pre-existing set of https://github.com/pangeo-data/

[2022-03-10 11:12] kmuehlbauer commented on #113
I've created a first version of documentation (currently available on my fork, https://kmuehlbauer.github.io/h5netcdf-docs/).

I'll have a PR ready the next days.

@shoyer It would be great if you could have a glance on the rendered docs. Also others are invited to have a look. Any comments appreciated.

[2022-03-16 11:18] kmuehlbauer commented on #156
@drew-parsons Did you come any further with this? ``h5netcdf`` is approaching version 1.0 in late March. Would be good if there are no blocking issues for packaging.

[2022-03-16 14:35] drew-parsons commented on #156
In the short term I've worked around it by patching out the setuptools_scm configuration.  We can continue doing that until we tracked down how SETUPTOOLS_SCM_PRETEND_VERSION gets used.

SETUPTOOLS_SCM_PRETEND_VERSION is referenced in /usr/share/perl5/Debian/Debhelper/Buildsystem/pybuild.pm from the debian dh-python package. I'm trying to confirm if the code path using it gets activated during the

[2022-03-16 14:37] kmuehlbauer commented on #156
Thanks, good to hear you have a working state. I'll leave this open until resolved.

[2022-03-16 16:02] drew-parsons commented on #156
I think I can see what's going on Setting SETUPTOOLS_SCM_PRETEND_VERSION explictly will no doubt work, but the debian pybuild tool already provides management of the variable.  What pybuild does is check whether setuptools-scm has been included in the build dependencies for the package. If so, then pybuild uses the debian build configuration to set a value for SETUPTOOLS_SCM_PRETEND_VERSION (if it

[2022-03-16 16:32] kmuehlbauer commented on #156
Yes sorry, this will be fixed in #158.

[2022-03-16 17:07] drew-parsons commented on #156
Looks like it's under control then.  The problem I reported here is a build configuration issue, not a h5netcdf issue, so I'll close this issue now.

[2022-03-16 17:07] #156 closed

[2022-03-16 17:08] drew-parsons commented on #156
Great.  I'll package 0.15.0 once it's done.

[2022-03-18 08:14] kmuehlbauer commented on #152
The table is now also available in the new documentation here https://h5netcdf.github.io/h5netcdf/feature.html

[2022-03-18 09:13] kmuehlbauer commented on #113
Things move along more or less smoothly. Version 0.15.0 is out now, adding the new documentation only. The documentation is now available via github pages https://h5netcdf.github.io/h5netcdf/.

Please note that `h5netcdf`-version `1.0` is due 31st of March 2022 in about two weeks from now. If there are any problems which should get fixed before the 1.0 release please open issues.

ping @drew-parso

[2022-03-18 09:15] kmuehlbauer commented on #96
All point raised above have been tackled by now so this can be closed. :tada:

[2022-03-18 09:15] #96 closed

[2022-03-19 00:18] TManhente opened #161 "AttributeError is raised when printing attributes object of a file from HSDS"
#### What happened:

Trying to print the attributes object of an HDF5 file from an HSDS server opened using `h5netcdf` raises an `AttributeError` since version 0.14.1:

[code]

This also happens if you simply try to print the file object.

#### What you expected to happen:

No exception is raised and a summary of the file attributes is shown.

#### MCVE Code Sample
A running HSDS instance with an

[2022-03-19 08:48] kmuehlbauer commented on #161
@TManhente Thanks for raising this  and the thorough wrtite-up. The issue is, that `h5netcdf` is using some of `h5py's` low-level API, which is not available within `h5pyd` via `HSDS`.

More context and a suggested solution in #89. Which isn't implemented yet, unfortunately.

@ajelenak @jreadey Do you have thoughts on how to quickly work around the usage of low-level `h5py` calls to prevent `h5net

[2022-03-20 02:22] ajelenak commented on #161
We have been working on this in the background. A lot of the foundation to bring back h5pyd/HSDS is now in place. However, h5netcdf continues its development and so is a moving target to catch up.

I have a branch where HSDS start up and shut down are a pytest session fixture. Using that, there are currently 14 failing h5netcdf tests, all due to `AttributeError: 'GroupID' object has no attribute '

[2022-03-20 17:27] kmuehlbauer commented on #161
@ajelenak Thanks for the heads-up and your efforts on that. I hope with the current status (as within your `hsds-pytest` branch) the work towards that goal can continue, as this will be the status for version 1.0. There will be no further changes which might introduce new calls of the h5py low-level api ( at least none that I can see atm), so you can assume a sitting target now. If there is anythi

[2022-03-21 17:56] ajelenak commented on #89
A PR that brings back h5pyd testing is in #162. It kicks in only if both h5pyd and hsds packages are available so it will not disrupt the current h5netcdf testing.

[2022-03-22 14:39] #89 closed

[2022-03-22 14:44] kmuehlbauer commented on #161
@TManhente I'd appreciate if you could test latest h5netcdf main branch. At least you should not experience the reported error anymore. If this works for you, I'd go for a 0.15.1 release the next days.

[2022-03-22 15:36] adam2392 opened #164 "Can numpy objects be supported?"
#### What happened:
I am using `netcdf` to save `xarray` objects containing a list of lists (or numpy array of objects) inside the metadata. However, since numpy arrays are not supported, I convert this to a list of lists. When saving, I run into a Deprecation Warning and then a TypeError.

I wonder if this is the best place to solve it?

#### What you expected to happen:
Ideally, h5netcdf realize

[2022-03-22 17:51] kmuehlbauer commented on #164
@adam2392 Thanks for raising this. A pure `h5netcdf` MCVE would be nice nevertheless.

For [NetCDF4 data model](https://docs.unidata.ucar.edu/netcdf-c/current/netcdf_data_model.html)

So this means that this would be a non-standard usage which `h5netcdf` could only support using `invalid_netcdf` keyword arg.

Also [HDF5](https://confluence.hdfgroup.org/display/HDF5/Attributes) speaks of Attributes

[2022-03-23 02:02] TManhente commented on #161
@kmuehlbauer, I've just tried it and the `AttributeError` is gone: Both printing the `file` or the `file.attrs` all worked fine!

[2022-03-23 05:43] kmuehlbauer commented on #161
Thanks for checking this. If you encounter any other issues using HSDS/ h5pyd when using h5netcdf please open new issues.

[2022-03-23 05:43] #161 closed

[2022-03-23 08:18] kmuehlbauer commented on #164
Xref: https://github.com/mne-tools/mne-connectivity/issues/87

[2022-03-23 08:43] kmuehlbauer commented on #164
After reading the discussion over at https://github.com/mne-tools/mne-connectivity/issues/87 I think I might be missing a bit of context.

@adam2392 In the [mne-connectivity docs](https://mne.tools/mne-connectivity/stable/generated/mne_connectivity.Connectivity.html?highlight=save#mne_connectivity.Connectivity.save) the output format is mentioned as NetCDF. What you request would finally create no

[2022-03-23 09:12] kmuehlbauer opened #165 "h5netcdf writes invalid netcdf to existing netcdf files"
#### What happened:

While exploring #164 I've found that currently `h5netcdf` is able to write invalid netcdf data to existing netcdf4 files, when the file is opened with `invalid_netcdf=True`. Unfortunately this leaves the `_NCProperties` intact.

#### What you expected to happen:

`_NCProperties` should be removed from the file, when writing with `invalid_netcdf=True`.

#### MCVE Code Sample

[

[2022-03-23 09:43] kmuehlbauer commented on #165
It looks like this behavior is there for a very long time.

There are at least two solutions to this problem:

- do not allow appending invalid netcdf data to a NetCDF4 conforming file (having `_NCProperties`), allow only newly created files with invalid netcdf data (they will miss the `_NCProperties`
- remove `_NCProperties` when appending invalid netcdf data to an existing file

As writing of in

[2022-03-24 09:30] kmuehlbauer commented on #165
Please have a look at a possible fix in #166.

We do not write `_NCProperties` when creating a file from scratch with invalid netcdf features. So it is fitting to assume that we should remove `_NCProperties` when writing invalid netcdf features to an existing (valid) file.

As users might still use `.nc` extension when writing invalid netcdf features a `UserWarning` is displayed:

[2022-03-24 09:32] kmuehlbauer commented on #165
I've opened a discussion over at unidata: [How does netcdf-c recognize netCDF4 format](https://github.com/Unidata/netcdf-c/discussions/2258).

[2022-03-24 15:29] shoyer commented on #165
This solution sounds good to me!

[2022-03-24 15:47] kmuehlbauer commented on #165
Thanks Stephan, much appreciated.

[2022-03-24 15:51] #165 closed

[2022-03-25 07:24] kmuehlbauer commented on #113
There is one last blocker which need to be ruled out.

In #165 we've identified a major problem with regard to writing standard conforming files. A possible solution was implemented and merged in #166.

Additionally a discussion was initiated over at Unidata [How does netcdf-c recognize netCDF4 format](https://github.com/Unidata/netcdf-c/discussions/2258) to get to the bottom of this and come up w

[2022-03-27 01:05] shoyer commented on #164
It isn't possible to directly put arbitrary NumPy object arrays into HDF5 files, because these can contain arbitrary Python objects that may not be supported by HDF5.

If desired, arbitrary Python objects could be serialized into bytes with [pickle](https://docs.python.org/3/library/pickle.html). But this would not be appropriate for h5netcdf unless users need to explicitly opt-in each time they o

[2022-03-27 01:08] shoyer commented on #113
The new documentation page looks great!

My main suggestion would be to switch around some content between the homepage and the "Overview" page. Right now the homepage talks mostly about the history of the project, but users are probably more interested in information from the "Overview", like the "Why h5netcdf" section. "History" could go in a less prominent location.

[2022-03-27 01:26] shoyer commented on #113
With regards to identifying conforming netCDF files, I think your solution in #166 is about as well as you could hope to do. I don't think this should really be a blocker for h5netCDF 1.0. In my opinion, the NetCDF4 file format should always have required some explicit identification, but that was not the case originally.

[2022-03-28 07:15] kmuehlbauer commented on #113
Thanks, then I'd suggest we just move along with version 1.0 and adapt to a possible solution when https://github.com/Unidata/netcdf-c/discussions/2258 is resolved.

[2022-03-29 08:49] kmuehlbauer commented on #113
We are finally approaching the release date (31st of March). There is the preparation PR #168 with some final changes. This PR will be merged later today to get a chance to see the docs build correctly etc.

Tomorrow would be the day for any last minute fixes. So if there is any immediate need to add changes/fixes please respond in time.

Final steps on Thursday:

- change `Development Version` to

[2022-03-30 11:30] kmuehlbauer commented on #164
I'm closing this as wont-fix. If there is more discussion needed, please reopen @adam2392.

[2022-03-30 11:30] #164 closed

[2022-03-31 05:44] kmuehlbauer commented on #113
Sad this happens, but the PyPI-upload failed. I'll investigate.

[2022-03-31 06:18] kmuehlbauer commented on #113
:tada: :rocket: **_We have just released h5netcdf version 1.0.0_** :rocket: :tada:

- [h5netcdf 1.0.0 on PyPI](https://pypi.org/project/h5netcdf/)
- [h5netcdf docs on h5netcdf.org](https://h5netcdf.org/)

Many thanks to all who have contributed in one way or the other to make this happen, this is also your achievement. :1st_place_medal:

:heart: Huge thanks from my side to Stephan for all his dedi

[2022-04-11 07:18] #113 closed

[2022-04-21 01:49] aidanheerdegen opened #170 "Corrupted headers when serialising using dask.distributed client"
#### What happened: Files created with corrupted header information

#### What you expected to happen: The files to be correctly output

#### MCVE Code Sample
I haven't managed to produce a MCVE that reproduces this behaviour, but thought it was better to report even without this. So the code l[oads UM data files using the the Iris package](https://scitools-iris.readthedocs.io/en/latest/generated/

[2022-04-25 05:26] kmuehlbauer commented on #170
@aidanheerdegen Thanks for raising this. A MCVE would be really great to help this tracking down. Could be a file locking issue, but that's just guesswork.

[2022-04-26 00:27] aidanheerdegen commented on #170
I'd love to, but am very busy right now, and find trying to make MCVEs reproduce errors can be a time consuming process in some cases. When I have a chance I'll try and come back to it. I hoped the fact that it worked in previous versions might be enough of a clue to zero in on changes since then that could be the culprit.

[2022-04-26 05:55] kmuehlbauer commented on #170
There has been a lot of changes to the dimension handling since version 0.12. It will be a hard undertaking to figure this out without example code. I'd have a look into this, but I need at least something I can work with.

- An example data file would be nice, or at least information about the `CubeList` you are iterating over
- How is dask distributed enabled?
- Is your above example code exactl

[2022-04-26 06:41] aidanheerdegen commented on #170
Point taken. It's not my code, I was just alerted to the problem by someone and thought I should report it.

The client is just a default local `dask.distributed` client.
[code]
The data was someone else's but here is the dataset being converted:
[code]
There are 120 individual files each with a single timestep. I'll try and reduce the data to as few files as possible, and maybe try uploading them

[2022-04-26 06:50] kmuehlbauer commented on #170
Reporting issues is a good idea anyway, so thanks for taking time reporting this. Looking forward to anything you can provide to narrow this down. I'll try searching through the code for possible points of failure in the meantime (when I can free some time).

[2022-05-24 11:35] kmuehlbauer commented on #37
https://github.com/h5py/h5py/pull/2044 is merged and available in h5py 3.7

[2022-06-25 12:34] sebastic opened #171 "Test failures with NetCDF 4.9.0"
As reported in [Debian Bug #1013754](https://bugs.debian.org/1013754), the h5netcdf testsuite fails with NetCDF 4.9.0 which added more compression options:
[code]

This patch resolves the issue:
[code]

[2022-06-25 16:30] kmuehlbauer commented on #171
@sebastic Thanks for raising and the attached patch. Patchrelease will follow shortly.

[2022-06-27 07:30] kmuehlbauer commented on #171
Thanks again @sebastic! h5netcdf patch release 1.0.1 is available on PyPI now. I'll leave this issue open until https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1013754 is resolved (just in case there are still problems over at debian).

[2022-06-27 16:51] sebastic commented on #171
The package built successfully:

 https://buildd.debian.org/status/package.php?p=python-h5netcdf

And the autopkgtests are looking good so far:

 https://qa.debian.org/excuses.php?package=python-h5netcdf

[2022-06-28 07:13] kmuehlbauer commented on #143
@hmaarrfk with h5py 3.7.0 out our tracking test:

https://github.com/h5netcdf/h5netcdf/blob/9c0269fa78286dd5a3547a040dd3b6c8902e9a68/h5netcdf/tests/test_h5netcdf.py#L1597-L1614

isn't failing any more. We would need to reevaluate the situation.

[2022-06-28 07:35] kmuehlbauer commented on #143
see https://github.com/h5netcdf/h5netcdf/pull/173

[2022-06-28 07:48] kmuehlbauer commented on #143
Looks like we can reinstate `track_feature=True` as default.

[2022-06-29 03:49] sebastic commented on #171
The autopkgtests passed on all architectures, and the package has migrated to testing.

[2022-06-29 03:49] #171 closed

[2022-06-29 06:31] kmuehlbauer commented on #170
@aidanheerdegen Did you come any further with that issue? I would try to look into this if you could provide more information, MCVE would be nice.

[2022-06-29 06:34] aidanheerdegen commented on #170
Sorry, I am snowed under with work right now. I won't have time to look into this further as I am changing roles soon.

[2022-06-29 06:40] kmuehlbauer commented on #170
Thanks for coming back to this. Would you be able to provide a test UM file which broke with your setup?

[2022-06-29 12:49] kmuehlbauer commented on #37
@shoyer This has now been fixed upstream and h5py 3.7.0 is available. I've added the necessary changes in #175. Would be great if you could have a look over there. Thanks!

[2022-06-30 10:19] kmuehlbauer opened #176 "Remove h5py2 related code and CI builds"
As h5py version 2.10 is now succeeded by h5py version 3 (we are already at 3.7.0) would it make sense to remove the h5py version 2 related code?

Is there anyone out there using h5py version 2 for some reason that we should maintain the tests for version 2?

[2022-07-02 14:12] Hellseher opened #177 "FAILED h5netcdf/tests/test_h5netcdf.py::test_group_names"
#### What happened:
While packing this project for Guix I've faced with issue of failing tests and NumPy deprication.

[code]

#### What you expected to happen:
All test passed successfully.
#### MCVE Code Sample

Input package versions
[code]
Way to reproduce
[code]

#### Expected Output

#### Anything else we need to know?:

#### Version
- https://github.com/h5netcdf/h5netcdf/tree/v1.0.1

[2022-07-02 14:30] kmuehlbauer commented on #177
@Hellseher Thanks for the report. It's good to see people actually start using `h5netcdf` > 1.0. Quick question: which version of netcdf-c and hdf5 is netCDF4 using in your system?

[2022-07-02 14:52] kmuehlbauer commented on #177
@Hellseher It turns out that version 1.5.3 of `netCDF4` is missing `.name` which was reported here:  https://github.com/Unidata/netcdf4-python/issues/988. This was fixed in `netCDF4` version 1.5.4. So updating to at least that version will fix the failing test.

At the same time this should also fix the DeprecationWarnings, as this has been fixed in the same version, AFAICT.

[2022-07-02 14:53] Hellseher commented on #177
Hi,
Thank you for a quick response!
I've listed input packages which were require for the build in the "MCVE Code Sample"

[code]

Your projects goes as additional dependencies in SunPy [h5netcdf>=0.8.1](https://github.com/sunpy/sunpy/blob/ec1135631c5ab953729416d0560286ab403684a8/setup.cfg#L70) But I've tried to pack the lates version.

[2022-07-02 15:00] kmuehlbauer commented on #177
The problem is not with `h5netcdf=1.0.1` but with `python-netcdf4==1.5.3` it just surfaces in our tests. You would need to upgrade `python-netcdf4`. That will fix all errors and warnings you are currently seeing.

[2022-07-02 15:13] Hellseher commented on #177
Just to confirm and close this issue:
I've bumped `python-netcdf4` to the latest  available in upstream (1.6.0), now all test passed successfully!
[code]
Thanks again for a quick and positive response :1st_place_medal:

This issue could be closed.

[2022-07-02 15:16] kmuehlbauer commented on #177
@Hellseher You're welcome. Glad it works and the issue could be resolved within one hour :tada:.

[2022-07-02 15:16] #177 closed

[2022-07-18 17:34] scottstanie opened #178 "AttributeError for '_phony_dim_count' when trying to convert a file made with h5py"
#### What happened:

I'm converting a file that was creating using h5py and the dimension scales API. When there is a phony dimension, I am unable to do `ds.to_netcdf(output_file, engine="h5netcdf")`, which used to work.

#### What you expected to happen:

#### MCVE Code Sample

[code]

#### Expected Output

I expected it to convert without error, but instead it throws an AttributeError

[code]

#

[2022-07-18 17:59] scottstanie commented on #178
For more info about "this used to work", when I install v0.13.0, the code runs successfully, but starting with v0.15.0, it fails with the AttributeError.

[2022-07-18 20:04] kmuehlbauer commented on #178
@scottstanie Thanks for the report. Could you please add the respective xarray version?

I might not find time in the next days to fully investigate, but it looks like an issue with "phony_dims" kwarg.

Btw, have you tried to use this kwarg within xarray.open_dataset?

Normally h5netcdf should raise an error if dimensions without scale are detected.

[2022-07-18 20:25] scottstanie commented on #178
Do you mean passing the kwarg like this?
[code]

Here's the version info:
[code]
<details>
/Users/staniewi/miniconda3/envs/mapping/lib/python3.10/site-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit: None
python: 3.10.5 | packaged by conda-forge | (main, Jun

[2022-07-18 21:09] kmuehlbauer commented on #178
Thanks! Yes something along these lines.The complete stack trace would be useful. Bu I think you might need to wrap this kwarg in the backend_kwargs.

It would be great if you could reproduce this without using xarray (does reading the file work with only h5netcdf? ).  Thanks for your efforts.

[2022-07-19 04:28] kmuehlbauer commented on #178
@scottstanie Thanks again for describing in detail.

I've identified the issue. It's connected with the naming scheme (`phony_dim_0` etc.). The bad things happen at initialization of the Dimension-object, see below.

https://github.com/h5netcdf/h5netcdf/blob/ca0ba1b6ff3cb9740ab889c14e3d91dc0542fd81/h5netcdf/dimensions.py#L73-L86

In Line 74 we assume that any dimension with `phony_dim` in it's nam

[2022-07-19 15:04] scottstanie commented on #178
The renaming fix seems perfectly good for me for now, as I doubt this is a common situation to create something partially-compliant in HDF5, then convert using xarray. thanks for figuring that out!

[2022-07-19 15:59] kmuehlbauer commented on #178
Glad it helps you for the time being.

[2022-07-29 17:50] mcepl opened #179 "Tests test_more_than_7_attr_creation_track_order and test_bool_slicing_length_one_dim fail in the test suite"
#### What happened:

While packaging new version of h5netcdf for openSUSE we run the test suite, and these two tests failed for us:

[code]
[Complete build log](https://github.com/h5netcdf/h5netcdf/files/9222221/_log.txt) with the list of all packages used and steps taken to build the package.

#### What you expected to happen:
Whole test suite should pass.

#### Version

1.0.1 (tarball from PyPI)

[2022-07-29 18:32] kmuehlbauer commented on #179
Thanks for raising this, @mcepl .

I'll have a look into this the next days.

I can't immediately see any problems with the dependencies. But is there any reason to work with hdf5 1.10 version line instead of 1.12?

The error might be connected with that version, as we do not test against hdf5 1.10.

[2022-07-29 18:50] mcepl commented on #179
Ah, that might be a problem. Let me update that as well.

[2022-07-30 08:50] mathause commented on #176
You could consider adapting NEP 29 - e.g. xarray currently supports h5py v3.1 and up.

https://github.com/pydata/xarray/blob/3f7cc2da33d81e76afbfb82da57143b624b03a88/ci/requirements/min-all-deps.yml#L22

[2022-08-02 09:02] drew-parsons commented on #179
Debian has also just started hitting this error, after upgrading h5py to 3.7.0.  Full test log at https://ci.debian.net/data/autopkgtest/testing/amd64/p/python-h5netcdf/24248189/log.gz

Debian also uses hdf5 1.10. I don't know why we haven't updated to hdf5 1.12 yet.  But in any case the h5netcdf test failure seems to be triggered by h5py 3.7.0. It's still [passing](https://ci.debian.net/data/auto

[2022-08-02 09:05] kmuehlbauer commented on #179
@drew-parsons Thanks. We need to find the root cause. I'll try to reproduce this locally first. Any guidance on your test setup @mcepl, @drew-parsons?

[2022-08-02 09:21] kmuehlbauer commented on #179
@mcepl @drew-parsons My bad, I'm deeply sorry. :disappointed: I've worked on current main branch where @hmaarrfk and I already fixed that two errors which indeed stem from new h5py version 3.7.0.

I'll have a release out today. Sorry for the confusion.

[2022-08-02 09:35] kmuehlbauer commented on #179
@mcepl @drew-parsons h5netcdf 1.0.2 with the fixes is available on PyPI.

[2022-08-02 16:48] mcepl commented on #179
Yes, it works fine, thank you.

[2022-08-02 17:12] kmuehlbauer commented on #179
Thanks for confirming @mcepl. Let's see if it works on Debian, too. I'll close then.

[2022-08-03 05:07] kmuehlbauer commented on #37
resolved by #175

[2022-08-03 05:07] #37 closed

[2022-08-03 11:05] hmaarrfk commented on #179
@kmuehlbauer worked with h5py to fix things only to cause more problems!!!! Thank you all for being patient!

[2022-08-03 12:06] drew-parsons commented on #179
If there are known ongoing problems then if you like I can apply just the targetted h5py patch to Debian, not the whole 1.0.2 release.

[2022-08-03 12:16] kmuehlbauer commented on #179
I think you are safe to apply 1.0.2 There is one other change with regard to boolean indexing which also started to work with h5py 3.7.0.

[2022-08-03 12:17] kmuehlbauer commented on #179
So essentially the 1.0.2 consists only of two fixes for the two errors you experienced.

[2022-08-03 12:19] drew-parsons commented on #179
ok.  With commit 68d125a on its own, it cleared the test_bool_slicing_length_one_dim error. But it still left the other error in place,
[code]
Should this second error be fixed in the full 1.0.2 code?

[2022-08-03 12:21] drew-parsons commented on #179
Ah wait I see, the other one would be fixed in commit d37661010.

[2022-08-03 12:42] kmuehlbauer commented on #179
@drew-parsons, @mcepl Just a little heads up. Since version 1.0 gets more and more applied I assume we might get more regression issues, also as other upstream libs (h5py, hdf5) release new versions. There also have been some major rewrites before h5netcdf 1.0 which add to this.

I'll try to not let issues pile up, but try to fix and release patches when I see fit. It's appreciated if you continue

[2022-08-03 12:45] mcepl commented on #179
Sure, I won’t stop bothering you ;).

[2022-08-03 13:58] kmuehlbauer commented on #179
Great, it looks like it works on debian too. The bug is closed over there. So closing here.

[2022-08-03 13:58] #179 closed

[2022-08-03 14:03] kmuehlbauer commented on #178
@scottstanie I'd appreciate if you could test that PR with some of your use cases.

The thing is, that for the moment h5netcdf does not allow mixed variables (eg. one dimension with scale and the other without). I tried to compare with netcdf-c/netcdf4-python to iron out any issues (with little outcome so far). I'll let this sit for some days and start with fresh eyes then

[2022-08-04 20:04] scottstanie commented on #178
yes this looks great from my perspective, thank you!

[2022-09-18 09:36] master-nemo opened #182 "very slow partial reading when saved with index shift"
#### What happened:
When saved two group of data with shifted index like in code fragment `***1`, partial reading will be very slow in future. Same index like `***2` - works normal.
Note: displaying shape in sample is just to shorten the output. A normal reading to variable behaves similarly.

upd2: fixed sample and notes.

#### What you expected to happen:
fast reading for all cases

#### MCVE Co

[2022-09-19 08:03] kmuehlbauer commented on #182
@master-nemo Thanks for raising this and thanks for the extensive example.

The root cause is the automatic padding here:
https://github.com/h5netcdf/h5netcdf/blob/c6d20162adddeb9c3c55ff39e325d11d471a6822/h5netcdf/core.py#L299-L310

If a variable with unlimited dimensions isn't written completely (as in the above MCVE, 58 written, but size 60) the data is padded with the underlying fillvalue befor

[2022-09-19 08:10] master-nemo commented on #182
thanks.
i will try to deal with it then)

[2022-09-19 08:47] kmuehlbauer commented on #182
Yeah, but we might improve the current code to only pad if really needed. As of now the padding is applied in any case, which slows down your processing.

[2022-09-19 11:45] kmuehlbauer commented on #182
The best solution to this problem would be to create the underlying dataset with the wanted netcdf-c/netcdf4-python fillvalues.

[code]
[code]

The test for padding would need to be adapted slightly. Then padding will only be applied if data is requested from that uninitialized region which is behind the datasets size.

[2022-09-20 10:42] master-nemo commented on #182
thanks to all!
I reserved space by saving frame of NaNs and it helps.

[2022-09-20 11:53] kmuehlbauer commented on #182
@master-nemo Glad you found a workaround for your use-case. Nevertheless it would be good to fix this within the package. I'll leave it open for now until fixed.

[2022-09-20 12:48] master-nemo commented on #182
maybe this helps: i trying many sizes and noticed nearly linear correlation with reading time (in shifted case). Seems like it trying to read whole array to memory.

[2022-09-20 12:59] kmuehlbauer commented on #182
Yes, that's actually the case. If the size of the dimension and the size of the variables dimension do not match, the whole array is read to0 memory before subsetting.

I think, I'll have a fix out in a few days. Thanks again, @master-nemo.

[2022-11-21 07:50] #143 closed

[2022-11-23 06:46] kmuehlbauer commented on #182
resolved by #183

[2022-11-23 06:46] #182 closed

[2022-11-23 06:47] kmuehlbauer commented on #178
resolved by #181

[2022-11-23 06:47] #178 closed

[2022-11-23 07:23] kmuehlbauer commented on #176
I've found the [hdf5 release schedule](https://www.hdfgroup.org/2022/06/2022-hdf5-release-schedule/). So hdf5 v1.8 line will be EOL by end of this year and v1.10 line is supposed to be alive to the end of next year (currently at v1.10.9). So I'm inclined to postpone the removal of h5py2 compatibility code until v1.10 EOL.

Unfortunately conda-forge hdf5 is stuck at v1.10.6, so we can't test the la

[2022-11-23 07:23] #176 closed

[2022-11-30 04:46] hmaarrfk opened #191 "h5py minimum version update?"
Is there a minimum version for h5py that you are targeting?

It seems you are still targetting 2.10? is there a reason for this:
https://github.com/h5netcdf/h5netcdf/blob/main/.github/workflows/main.yml#L59

It seems 2.10 was released in 2019. Is that how far back you want to go?
https://pypi.org/project/h5py/2.10.0/

[2022-11-30 04:46] hmaarrfk commented on #191
FYI, according to `nep29` as far back as 3.2 should be supported:
[code]

[2022-11-30 08:31] kmuehlbauer commented on #191
@hmaarrfk I was thinking when to drop h5py2 in https://github.com/h5netcdf/h5netcdf/issues/176#issuecomment-1324646559. But maybe I'm overly concerned here and we should drop anyway?

Maybe @shoyer has some guidance here?

[2022-11-30 08:50] shoyer commented on #191
I usually would aim to support releases from the last 1-2 years worth of releases for an upstream dependency, depending upon how stable the upstream project is and how much work it takes to support.

So I would definitely drop h5py 2.x at this point.

[2022-11-30 08:55] kmuehlbauer commented on #191
Great, thanks @shoyer! So we can get rid of the compatibility code and streamline the CI.

That's best done in it's own PR before the performance PR's kick in. I can take care of this later today.

[2022-11-30 14:40] kmuehlbauer commented on #191
Resolved by #194, thanks @shoyer and @hmaarrfk!

[2022-11-30 14:40] #191 closed

[2022-11-30 14:50] kmuehlbauer commented on #176
This got finally resolved by #194 after discussion in #191.

[2022-11-30 19:07] hmaarrfk opened #195 "Improving performance for h5netcdf"
#### What happened:

I've been trying to use h5netcdf since it gives access to the underlying `h5py` dataset which makes it easier to prototype with different HDF5 backends. netcdf4-c is much harder to compile and thus prototype with since many of the internals are not accessible.

My original concern arose from observations that, for some of our datasets, they open with

  * xarray + netcdf4-pyth

[2022-11-30 19:17] hmaarrfk commented on #195
As an example, the following patch, avoids the creation of the `_h5ds` on demand, (it keeps a had reference is).

<details>

[code]
</details>

but brings down from 500 ms (on my computer) to 22 ms
![image](https://user-images.githubusercontent.com/90008/204888411-38e1259c-5735-47e9-9f02-3f4c6692db1f.png)

[2022-11-30 21:26] hmaarrfk commented on #195
Relevant discussion: https://github.com/h5netcdf/h5netcdf/pull/117